*{margin:0;padding:0;font-size:12px}
html,body{height:100%}
ul,ol{margin:0}
.head{width:100%;height:10vh;background-color:#0e172f;box-shadow:0px 4px 22px #b1cee8}
.head .head_logo{display:inline-flex;width:200px;height:72px;margin-left:10%}
.head .head_logo img{line-height:72px;margin-left:20px;width:141px;height:40px;margin-top:16px}
a{text-decoration:none;font-size:12px;color:#1D5494}
#top{position:absolute;top:0;left:0;width:100%;padding:16px 0 12px 10%}
#img_logo{width:180px}
#img5{margin:0 0 0 700px}
#content_1 img{width:100%;height:100%}
#content{position:relative;margin:0 auto;height:100%;width:75.625%}
#content-right{position:absolute;width:370px;height:388px;margin:10% 60%;z-index:100}
#content-right:hover{color:#fff}
#con-top{padding:18px 0 12px;text-align:center}
#con-top span{color:#b8c3ce;cursor:pointer;font-size:16px}
#con-top span.active{color:#0b86f3;font-weight:bold}
#con-top span:hover{opacity:0.8}
#pic{margin-top:30px}
pre{color:#A0A0A0}
span a{color:#3481CF;text-decoration:none}
#text{color:#000;padding:0 0 0 70px;margin-top:-5px}
#text a{color:#A0A0A0;text-decoration:none}
#checkbox{margin:20px 0 0 0}
.con-foot{color:#a6cbec;font-size:8px}
#con-but a{color:#225592}
#foot{position:absolute!important;bottom:0;left:0;z-index:1000;padding:10px 0;width:100%;font-size:14px;line-height:36px;text-align:center;color:#8699db}
#foot a,#foot a:hover{color:#8699db}
#foot a label{margin:0;cursor:pointer;font-weight:normal}
.main-right{position:absolute;right:20px;bottom:20%}
.rightimageBox{position:relative;width:150px;height:178px;border:1px solid #eee;text-align:center;color:#000;background:#eee;z-index:1000;box-shadow:#ffdede 1px 1px 18px}
#qrcode-title{margin:8px}
.rightImage{position:relative;width:135px;height:135px;text-align:center;margin:0 0 0 0px;z-index:1000}
#content-left{position:absolute;left:0;top:78px;bottom:0;width:60%}
.base,.cloud,.shadow,.light{position:absolute;left:-5vh;width:100%;height:100%;overflow:hidden}
.base img,.cloud img,.shadow img,.light img{width:100%;position:absolute;top:29vh}
.shadow img,.light img{bottom:-11.2954%;opacity:0}
.light img{bottom:-20.2454%;opacity:0}
.shadow img{animation:shadowmove .5s .5s 1 both;-webkit-animation:shadowmove .5s .5s 1 both}
.cloud img{animation:cloudmove .5s 1 both;-webkit-animation:cloudmove .5s 1 both}
.base img{animation:basemove .5s 1;-webkit-animation:basemove .5s 1;bottom:-11.43%}
.light img{animation:lightmove .5s .5s infinite both;-webkit-animation:lightmove .5s .5s infinite both}
@keyframes lightmove{from{opacity:0}
to{opacity:100}
}@keyframes shadowmove{from{opacity:0}
to{opacity:100}
}@keyframes cloudmove{from{opacity:0;bottom:100vh}
to{opacity:100;bottom:-10vh}
}@keyframes basemove{from{bottom:0}
to{bottom:0}
}.con-foot{cursor:pointer}
input::-webkit-input-placeholder{color:rgb(190,185,185)}
.pass-word{margin:15px 0}
.cut-line{margin:0 5px}
#login_phone{display:none}
.code-number{position:relative}
.code-number #code-get{position:absolute;right:12px;top:24px;color:#32f4b2;cursor:pointer;border:none;background:none}
#code-get:focus{outline:0}
.code-write{position:absolute;top:-6px;width:250px;z-index:100;height:200px;background:#253666;box-shadow:0 0 10px 0 rgba(0,0,0,.3);border-radius:5px;display:none}
.code-write p{font-size:16px;font-weight:bold;height:30px;line-height:30px;text-align:center;color:#fff}
.code-write p:nth-of-type(2){margin-top:-5px}
.code-write p .code-close{float:right;height:30px;width:30px;cursor:pointer}
.err-info{color:#ef4d4d;position:absolute;display:none}
.err-tip{color:#ef4d4d}
.code-image{width:78px;height:44px;vertical-align:top}
#captcha_panel{}
.gb_box{width:100%;height:100%;position:absolute;top:0px;opacity:0;z-index:10}