<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.AppInstanceDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.erm.AppInstance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="endpoint" property="endpoint" jdbcType="VARCHAR" />
    <result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
    <result column="version_id" property="versionId" jdbcType="INTEGER" />
    <result column="host_id" property="hostId" jdbcType="INTEGER" />
    <result column="k8s_id" property="k8sId" jdbcType="INTEGER" />
    <result column="docker_id" property="dockerId" jdbcType="INTEGER" />
    <result column="coss_ref_bucket" property="cossRefBucket" jdbcType="VARCHAR" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />

    <result column="hostname" property="hostname" jdbcType="VARCHAR" />
    <result column="cluster_name" property="clusterName" jdbcType="VARCHAR" />
    <result column="deploy_type" property="deployType" jdbcType="INTEGER" />

    <association property="dockerCluster" javaType="com.wl4g.components.core.bean.erm.DockerCluster">
      <id column="d.id" jdbcType="INTEGER" property="id" />
      <result column="d.name" jdbcType="VARCHAR" property="name" />
      <result column="d.organization_code" jdbcType="VARCHAR" property="organizationCode" />
      <result column="d.master_addr" jdbcType="VARCHAR" property="masterAddr" />
      <result column="d.create_date" jdbcType="TIMESTAMP" property="createDate" />
      <result column="d.create_by" jdbcType="VARCHAR" property="createBy" />
      <result column="d.update_date" jdbcType="TIMESTAMP" property="updateDate" />
      <result column="d.update_by" jdbcType="VARCHAR" property="updateBy" />
      <result column="d.del_flag" jdbcType="INTEGER" property="delFlag" />
    </association>

  </resultMap>


  <sql id="Base_Column_List" >
    id, name, organization_code, cluster_id, version_id, host_id, k8s_id, docker_id, coss_ref_bucket, env_type, enable, remark,
    create_by, create_date, update_by, update_date, del_flag
  </sql>

  <sql id="Base_Column_List_i" >
    i.id, i.name, i.organization_code, i.cluster_id, i.version_id, i.host_id, i.k8s_id, i.docker_id, i.coss_ref_bucket, i.env_type, i.enable, i.remark,
    i.create_by, i.create_date, i.update_by, i.update_date, i.del_flag
  </sql>

  <sql id="Docker_Column_List">
    d.id as 'd.id', d.name as 'd.name', d.organization_code as 'd.organization_code', d.master_addr as 'd.master_addr', d.create_date as 'd.create_date',
    d.create_by as 'd.create_by', d.update_date as 'd.update_date', d.update_by as 'd.update_by', d.del_flag as 'd.del_flag'
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List_i" />,h.hostname,c.endpoint, c.deploy_type,<include refid="Docker_Column_List" />
    from erm_app_instance i
    left join erm_host h on h.id = i.host_id
    left join erm_app_cluster c on c.id=i.cluster_id
    left join erm_docker_cluster d on d.id = i.docker_id
    where i.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from erm_app_instance
    where cluster_id = #{clusterId,jdbcType=BIGINT} and del_flag!=1
  </select>

  <select id="selectByClusterIdAndEnvType" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List_i" />,h.hostname
    from erm_app_instance i
    left join erm_host h on h.id = i.host_id
    where i.cluster_id = #{clusterId,jdbcType=BIGINT}
    and i.env_type = #{envType,jdbcType=VARCHAR}
    and i.del_flag!=1
  </select>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_i" />,c.name cluster_name
    from erm_app_instance i
    left join erm_app_cluster c on i.cluster_id=c.id
    where i.del_flag != 1
    <if test="name != null and name != ''" >
      AND i.name LIKE CONCAT('%','${name}','%')
    </if>
    <if test="clusterId != null" >
      and i.cluster_id = #{clusterId,jdbcType=BIGINT}
    </if>
    <if test="envType != null and envType != ''" >
      and i.env_type = #{envType,jdbcType=VARCHAR}
    </if>
    <if test="organizationCodes != null and organizationCodes.size() > 0">
      and c.organization_code in
      <foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
        #{organizationCode}
      </foreach>
    </if>
  </select>

  <select id="countByClusterId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select
    count(1)
    from erm_app_instance
    where cluster_id = #{id,jdbcType=BIGINT} and del_flag!=1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erm_app_instance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.erm.AppInstance" >
    insert into erm_app_instance (id, name,organization_code, cluster_id, version_id,
      host_id, k8s_id, docker_id, coss_ref_bucket, env_type, enable,
      remark,
      create_by, create_date, update_by,
      update_date, del_flag)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{organizationCode,jdbcType=VARCHAR}, #{clusterId,jdbcType=BIGINT}, #{versionId,jdbcType=BIGINT},#{serverType,jdbcType=INTEGER},
      #{hostId,jdbcType=BIGINT},#{k8sId,jdbcType=BIGINT},#{dockerId,jdbcType=BIGINT}, #{cossRefBucket,jdbcType=VARCHAR}, #{envType,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR},
      #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.erm.AppInstance" >
    insert into erm_app_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="organizationCode != null" >
        organization_code,
      </if>
      <if test="clusterId != null" >
        cluster_id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="k8sId != null" >
        k8s_id,
      </if>
      <if test="dockerId != null" >
        docker_id,
      </if>
      <if test="cossRefBucket != null" >
        coss_ref_bucket,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null" >
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="clusterId != null" >
        #{clusterId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=BIGINT},
      </if>
      <if test="k8sId != null" >
        #{k8sId,jdbcType=BIGINT},
      </if>
      <if test="dockerId != null" >
        #{dockerId,jdbcType=BIGINT},
      </if>
      <if test="cossRefBucket != null" >
        #{cossRefBucket,jdbcType=VARCHAR},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.erm.AppInstance" >
    update erm_app_instance
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null" >
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="clusterId != null" >
        cluster_id = #{clusterId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=BIGINT},
      </if>
      <if test="k8sId != null" >
        k8s_id = #{k8sId,jdbcType=BIGINT},
      </if>
      <if test="dockerId != null" >
        docker_id = #{dockerId,jdbcType=BIGINT},
      </if>
      <if test="cossRefBucket != null" >
        coss_ref_bucket = #{cossRefBucket,jdbcType=VARCHAR},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.erm.AppInstance" >
    update erm_app_instance
    set name = #{name,jdbcType=VARCHAR},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      cluster_id = #{clusterId,jdbcType=BIGINT},
      version_id = #{versionId,jdbcType=BIGINT},
      host_id = #{hostId,jdbcType=BIGINT},
      k8s_id = #{k8sId,jdbcType=BIGINT},
      docker_id = #{dockerId,jdbcType=BIGINT},
      coss_ref_bucket = #{cossRefBucket,jdbcType=VARCHAR},
      env_type = #{envType,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>