<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.DnsPrivateResolutionDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.erm.DnsPrivateResolution" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="resolve_type" property="resolveType" jdbcType="VARCHAR" />
    <result column="line_isp" property="lineIsp" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="ttl" property="ttl" jdbcType="INTEGER" />
    <result column="domain_id" property="domainId" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, host, resolve_type, line_isp, value, ttl, domain_id, priority, status, remark, del_flag,
    create_date, create_by, update_date, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erm_dns_private_resolution
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByDomainId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from erm_dns_private_resolution
    where domain_id = #{domainId,jdbcType=BIGINT}
  </select>
  <select id="selectByDomainIdAndHost" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from erm_dns_private_resolution
    where domain_id = #{domainId,jdbcType=BIGINT} and host = #{host,jdbcType=VARCHAR} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erm_dns_private_resolution
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateResolution" >
    insert into erm_dns_private_resolution (id, host, resolve_type, 
      line_isp, value, ttl, domain_id,
      priority, status, remark, 
      del_flag, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=BIGINT}, #{host,jdbcType=VARCHAR}, #{resolveType,jdbcType=VARCHAR}, 
      #{lineIsp,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{ttl,jdbcType=INTEGER}, #{domainId,jdbcType=BIGINT},
      #{priority,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateResolution" >
    insert into erm_dns_private_resolution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="resolveType != null" >
        resolve_type,
      </if>
      <if test="lineIsp != null" >
        line_isp,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="ttl != null" >
        ttl,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="resolveType != null" >
        #{resolveType,jdbcType=VARCHAR},
      </if>
      <if test="lineIsp != null" >
        #{lineIsp,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="ttl != null" >
        #{ttl,jdbcType=INTEGER},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateResolution" >
    update erm_dns_private_resolution
    <set >
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="resolveType != null" >
        resolve_type = #{resolveType,jdbcType=VARCHAR},
      </if>
      <if test="lineIsp != null" >
        line_isp = #{lineIsp,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="ttl != null" >
        ttl = #{ttl,jdbcType=INTEGER},
      </if>
      <if test="domainId != null" >
        domain_id = #{domainId,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateResolution" >
    update erm_dns_private_resolution
    set host = #{host,jdbcType=VARCHAR},
      resolve_type = #{resolveType,jdbcType=VARCHAR},
      line_isp = #{lineIsp,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      ttl = #{ttl,jdbcType=INTEGER},
      domain_id = #{domainId,jdbcType=BIGINT},
      priority = #{priority,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from erm_dns_private_resolution
    where del_flag!=1
    <if test="host != null and host != ''" >
      AND `host` LIKE CONCAT('%','${host}','%')
    </if>
    <if test="domainId != null" >
      AND domain_id = #{domainId,jdbcType=BIGINT}
    </if>
    <!--<if test="organizationCodes != null and organizationCodes.size() > 0">
      and organization_code in
      <foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
        #{organizationCode}
      </foreach>
    </if>-->
  </select>

</mapper>