<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.DnsPrivateServerDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.erm.DnsPrivateServer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="dns_server1" property="dnsServer1" jdbcType="VARCHAR" />
    <result column="dns_server2" property="dnsServer2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, kind, dns_server1, dns_server2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erm_dns_private_server
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erm_dns_private_server
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateServer" >
    insert into erm_dns_private_server (id, name, kind, 
      dns_server1, dns_server2)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, 
      #{dnsServer1,jdbcType=VARCHAR}, #{dnsServer2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateServer" >
    insert into erm_dns_private_server
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="dnsServer1 != null" >
        dns_server1,
      </if>
      <if test="dnsServer2 != null" >
        dns_server2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer1 != null" >
        #{dnsServer1,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer2 != null" >
        #{dnsServer2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateServer" >
    update erm_dns_private_server
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer1 != null" >
        dns_server1 = #{dnsServer1,jdbcType=VARCHAR},
      </if>
      <if test="dnsServer2 != null" >
        dns_server2 = #{dnsServer2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.erm.DnsPrivateServer" >
    update erm_dns_private_server
    set name = #{name,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=VARCHAR},
      dns_server1 = #{dnsServer1,jdbcType=VARCHAR},
      dns_server2 = #{dnsServer2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from erm_dns_private_server
    where 1=1
    <if test="name != null and name != ''" >
      AND `name` LIKE CONCAT('%','${name}','%')
    </if>
    <!--<if test="organizationCodes != null and organizationCodes.size() > 0">
      and organization_code in
      <foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
        #{organizationCode}
      </foreach>
    </if>-->
  </select>
</mapper>