<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.DnsPublicZoneDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.erm.DnsPublicZone" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="dns_kind" property="dnsKind" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `zone`, dns_kind
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erm_dns_public_zone
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erm_dns_public_zone
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.erm.DnsPublicZone" >
    insert into erm_dns_public_zone (id, `zone`, dns_kind
      )
    values (#{id,jdbcType=BIGINT}, #{zone,jdbcType=VARCHAR}, #{dnsKind,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.erm.DnsPublicZone" >
    insert into erm_dns_public_zone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zone != null" >
        `zone`,
      </if>
      <if test="dnsKind != null" >
        dns_kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="zone != null" >
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="dnsKind != null" >
        #{dnsKind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.erm.DnsPublicZone" >
    update erm_dns_public_zone
    <set >
      <if test="zone != null" >
        `zone` = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="dnsKind != null" >
        dns_kind = #{dnsKind,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.erm.DnsPublicZone" >
    update erm_dns_public_zone
    set `zone` = #{zone,jdbcType=VARCHAR},
      dns_kind = #{dnsKind,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from erm_dns_public_zone
    where 1=1
    <if test="zone != null and zone != ''" >
      AND `zone` LIKE CONCAT('%','${zone}','%')
    </if>
    <!--<if test="organizationCodes != null and organizationCodes.size() > 0">
      and organization_code in
      <foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
        #{organizationCode}
      </foreach>
    </if>-->
  </select>
</mapper>