<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmTemplateDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="metric" property="metric" jdbcType="VARCHAR" />
    <result column="template_classify" property="templateClassify" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />

    <collection property="rules" javaType="list" ofType="com.wl4g.devops.common.bean.umc.AlarmRule">
      <id column="rid" property="id" jdbcType="INTEGER" />
      <result column="template_id" property="templateId" jdbcType="INTEGER" />
      <result column="aggregator" property="aggregator" jdbcType="VARCHAR" />
      <result column="operator" property="operator" jdbcType="INTEGER" />
      <result column="value" property="value" jdbcType="DOUBLE" />
      <result column="trigger_type" property="triggerType" jdbcType="INTEGER" />
      <result column="continuity_time" property="continuityTime" jdbcType="BIGINT" />
    </collection>

  </resultMap>
  <sql id="Base_Column_List" >
    id, metric, template_classify, tags, enable, remark, del_flag, create_date, create_by, 
    update_date, update_by
  </sql>

  <sql id="Base_Column_List_t" >
    t.id, t.metric, t.template_classify, t.tags, t.enable, t.remark, t.del_flag, t.create_date, t.create_by,
    t.update_date, t.update_by
  </sql>

  <sql id="Rule_Column_List" >
    r.id rid, r.template_id, r.aggregator, r.operator, r.value, r.trigger_type, r.continuity_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    insert into umc_alarm_template (id, metric, template_classify, 
      tags, enable, remark, 
      del_flag, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=INTEGER}, #{metric,jdbcType=VARCHAR}, #{templateClassify,jdbcType=INTEGER}, 
      #{tags,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    insert into umc_alarm_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="metric != null" >
        metric,
      </if>
      <if test="templateClassify != null" >
        template_classify,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="metric != null" >
        #{metric,jdbcType=VARCHAR},
      </if>
      <if test="templateClassify != null" >
        #{templateClassify,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    update umc_alarm_template
    <set >
      <if test="metric != null" >
        metric = #{metric,jdbcType=VARCHAR},
      </if>
      <if test="templateClassify != null" >
        template_classify = #{templateClassify,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    update umc_alarm_template
    set metric = #{metric,jdbcType=VARCHAR},
      template_classify = #{templateClassify,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--<select id="selectWithRuleByids" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_t" />
    ,
    <include refid="Rule_Column_List" />
    from umc_alarm_template t LEFT JOIN umc_alarm_rule r on t.id=r.template_id where t.enable=1 and t.del_flag!=1
  </select>-->

  <select id="getByCollectId" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List_t" />
    ,
    <include refid="Rule_Column_List" />
    from umc_alarm_template t
    left join umc_alarm_config uac on t.id=uac.template_id
    left join umc_alarm_config_collect uacc on uacc.config_id=uac.id
    LEFT JOIN umc_alarm_rule r on t.id=r.template_id
    where uac.enable=1 and t.enable=1 and t.del_flag!=1
    <if test="collectId != null and collectId != 0 " >
      and  uacc.collect_id=#{collectId,jdbcType=INTEGER}
    </if>
  </select>


</mapper>