<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.ProjectDao">
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="git_url" jdbcType="VARCHAR" property="gitUrl" />
    <result column="app_group_id" jdbcType="INTEGER" property="appGroupId" />
    <result column="tar_path" jdbcType="VARCHAR" property="tarPath" />
    <result column="parent_app_home" jdbcType="VARCHAR" property="parentAppHome" />
    <result column="link_app_home" jdbcType="VARCHAR" property="linkAppHome" />
    <result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <!-- other -->
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_name, git_url, app_group_id, tar_path, parent_app_home, link_app_home,lock_status,
    remark, del_flag, create_date, create_by, update_date, update_by
  </sql>
  <sql id="Base_Column_List_p">
    p.id, p.project_name, p.git_url, p.app_group_id, p.tar_path, p.parent_app_home, p.link_app_home,p.lock_status,
    p.remark, p.del_flag, p.create_date, p.create_by, p.update_date, p.update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ci_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.Project">
    insert into ci_project (id, project_name, git_url,
      app_group_id, tar_path, parent_app_home,
      link_app_home,lock_status, remark, del_flag,
      create_date, create_by, update_date,
      update_by)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{gitUrl,jdbcType=VARCHAR},
      #{appGroupId,jdbcType=INTEGER}, #{tarPath,jdbcType=VARCHAR}, #{parentAppHome,jdbcType=VARCHAR},
      #{linkAppHome,jdbcType=VARCHAR},#{lockStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.Project">
    insert into ci_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="gitUrl != null">
        git_url,
      </if>
      <if test="appGroupId != null">
        app_group_id,
      </if>
      <if test="tarPath != null">
        tar_path,
      </if>
      <if test="parentAppHome != null">
        parent_app_home,
      </if>
      <if test="linkAppHome != null">
        link_app_home,
      </if>
      <if test="lockStatus != null">
        lock_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="gitUrl != null">
        #{gitUrl,jdbcType=VARCHAR},
      </if>
      <if test="appGroupId != null">
        #{appGroupId,jdbcType=INTEGER},
      </if>
      <if test="tarPath != null">
        #{tarPath,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null">
        #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="linkAppHome != null">
        #{linkAppHome,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        #{lockStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.Project">
    update ci_project
    <set>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="gitUrl != null">
        git_url = #{gitUrl,jdbcType=VARCHAR},
      </if>
      <if test="appGroupId != null">
        app_group_id = #{appGroupId,jdbcType=INTEGER},
      </if>
      <if test="tarPath != null">
        tar_path = #{tarPath,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null">
        parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="linkAppHome != null">
        link_app_home = #{linkAppHome,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        lock_status = #{lockStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.Project">
    update ci_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      git_url = #{gitUrl,jdbcType=VARCHAR},
      app_group_id = #{appGroupId,jdbcType=INTEGER},
      tar_path = #{tarPath,jdbcType=VARCHAR},
      parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      link_app_home = #{linkAppHome,jdbcType=VARCHAR},
      lock_status = #{lockStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_p" />
    ,g.name as group_name
    from ci_project p
    left join cf_app_group g on p.app_group_id=g.id
    where p.del_flag!=1
    <if test="groupName != null and groupName != ''" >
      AND g.name LIKE CONCAT('%','${groupName}','%')
    </if>
    <if test="projectName != null and projectName != ''" >
      AND p.project_name LIKE CONCAT('%','${projectName}','%')
    </if>
  </select>

  <select id="getByProjectName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ci_project
    where project_name = #{projectName,jdbcType=VARCHAR}
  </select>

  <select id="getByAppGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ci_project
    where app_group_id = #{appGroupId,jdbcType=INTEGER} and del_flag!=1
  </select>
</mapper>