{"openapi":"3.0.3","info":{"title":"epiot API文档","contact":{"name":"Wanglsir","url":"#","email":"Wanglsir"},"license":{},"version":"v1.0.0"},"servers":[{"url":"http://wl4g.debug:28093","description":"Inferred Url"}],"tags":[{"name":"article/发布文章","description":"发布文章"},{"name":"article/文章评论","description":"文章评论"},{"name":"article/文章附件","description":"文章附件"},{"name":"car/车辆信息","description":"车辆信息表"},{"name":"car/车辆油耗记","description":"车辆油耗记录"},{"name":"evaluation/自评题目","description":"自评题目"},{"name":"evaluation/评估类别","description":"评估类别"},{"name":"evaluation/评估题目选","description":"评估题目选项"},{"name":"exam/参加考试的","description":"参加考试的用户"},{"name":"exam/用户答案","description":"用户答案"},{"name":"exam/用户考试结","description":"用户考试结果"},{"name":"exam/考试","description":"考试表"},{"name":"exam/试卷","description":"试卷"},{"name":"exam/试卷分类","description":"试卷分类"},{"name":"exam/试卷题目","description":"试卷题目"},{"name":"exam/试卷题目组","description":"试卷题目组"},{"name":"exam/题目","description":"题目"},{"name":"exam/题目类别","description":"题目类别"},{"name":"exam/题目选项","description":"题目选项"},{"name":"trash/垃圾分类","description":"垃圾分类"},{"name":"trash/垃圾清运记","description":"垃圾清运记录"}],"paths":{"/epiot/articlecomment/del":{"post":{"tags":["article/文章评论"],"summary":"删除文章评论信息","operationId":"delUsingPOST","parameters":[{"name":"id","in":"query","description":"待删除的文章评论信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["article/文章评论"],"summary":"删除文章评论信息","operationId":"delUsingDELETE","parameters":[{"name":"id","in":"query","description":"待删除的文章评论信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/articlecomment/detail":{"get":{"tags":["article/文章评论"],"summary":"查询文章评论详细信息","operationId":"detailUsingGET","parameters":[{"name":"id","in":"query","description":"文章评论信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«文章评论»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlecomment/findCommentTree":{"get":{"tags":["article/文章评论"],"summary":"查询评论树","operationId":"findCommentTreeUsingGET","parameters":[{"name":"articleId","in":"query","description":"关联文章id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"content","in":"query","description":"评论内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"createByName","in":"query","description":"创建人名","required":false,"style":"form","schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"deep","in":"query","description":"Query childrens deep layers","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"deepSize","in":"query","description":"Query childrens size","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"parentId","in":"query","description":"关联评论id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«List«文章评论»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlecomment/list":{"get":{"tags":["article/文章评论"],"summary":"查询文章评论信息（分页）","operationId":"listUsingGET","parameters":[{"name":"articleId","in":"query","description":"关联文章id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"content","in":"query","description":"评论内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"createByName","in":"query","description":"创建人名","required":false,"style":"form","schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"parentId","in":"query","description":"关联评论id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«文章评论»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlecomment/save":{"put":{"tags":["article/文章评论"],"summary":"新增文章评论信息","operationId":"saveUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/文章评论1Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["article/文章评论"],"summary":"新增文章评论信息","operationId":"saveUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/文章评论1Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/article/del":{"post":{"tags":["article/发布文章"],"summary":"删除发布文章信息","operationId":"delUsingPOST_1","parameters":[{"name":"id","in":"query","description":"待删除的发布文章信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["article/发布文章"],"summary":"删除发布文章信息","operationId":"delUsingDELETE_1","parameters":[{"name":"id","in":"query","description":"待删除的发布文章信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/article/detail":{"get":{"tags":["article/发布文章"],"summary":"查询发布文章详细信息","operationId":"detailUsingGET_1","parameters":[{"name":"id","in":"query","description":"发布文章信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«发布文章»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/article/list":{"get":{"tags":["article/发布文章"],"summary":"查询发布文章信息（分页）","operationId":"listUsingGET_1","parameters":[{"name":"articleType","in":"query","description":"1经验分享 2宣传小知识3小标识","required":false,"style":"form","schema":{"type":"string"}},{"name":"attachmentIds","in":"query","description":"附件ID","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"briefInfo","in":"query","description":"摘要","required":false,"style":"form","schema":{"type":"string"}},{"name":"content","in":"query","description":"内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"imgUrl","in":"query","description":"图片地址","required":false,"style":"form","schema":{"type":"string"}},{"name":"knowledgeType","in":"query","description":"知识分类 1垃圾分类 2节约用水 3 其他","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"title","in":"query","description":"标题","required":false,"style":"form","schema":{"type":"string"}},{"name":"viewNum","in":"query","description":"阅读次数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«发布文章»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/article/save":{"put":{"tags":["article/发布文章"],"summary":"新增发布文章信息","operationId":"saveUsingPUT_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/发布文章Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["article/发布文章"],"summary":"新增发布文章信息","operationId":"saveUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/发布文章Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlefile/attach/{filename}":{"get":{"tags":["article/文章附件"],"summary":"渲染或下载附件","operationId":"attachExportUsingGET","parameters":[{"name":"filename","in":"path","description":"filename","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlefile/attachUpload":{"post":{"tags":["article/文章附件"],"summary":"上传文章附件","operationId":"attachUploadUsingPOST","parameters":[{"name":"customerId","in":"query","description":"customerId","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«ImgUploadModel»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlefile/del":{"post":{"tags":["article/文章附件"],"summary":"删除文章附件信息","operationId":"delUsingPOST_2","parameters":[{"name":"id","in":"query","description":"待删除的文章附件信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["article/文章附件"],"summary":"删除文章附件信息","operationId":"delUsingDELETE_2","parameters":[{"name":"id","in":"query","description":"待删除的文章附件信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/articlefile/detail":{"get":{"tags":["article/文章附件"],"summary":"查询文章附件详细信息","operationId":"detailUsingGET_2","parameters":[{"name":"id","in":"query","description":"文章附件信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«文章附件»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlefile/list":{"get":{"tags":["article/文章附件"],"summary":"查询文章附件信息（分页）","operationId":"listUsingGET_2","parameters":[{"name":"articleId","in":"query","description":"文章id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fileName","in":"query","description":"附件名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"fileUrl","in":"query","description":"附件地址","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"tags","in":"query","description":"自定义标签，如：1:封面/2:附件","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«文章附件»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/articlefile/save":{"put":{"tags":["article/文章附件"],"summary":"新增文章附件信息","operationId":"saveUsingPUT_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/文章附件Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["article/文章附件"],"summary":"新增文章附件信息","operationId":"saveUsingPOST_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/文章附件Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carinfo/del":{"post":{"tags":["car/车辆信息"],"summary":"删除车辆信息信息","operationId":"delUsingPOST_3","parameters":[{"name":"id","in":"query","description":"待删除的车辆信息信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["car/车辆信息"],"summary":"删除车辆信息信息","operationId":"delUsingDELETE_3","parameters":[{"name":"id","in":"query","description":"待删除的车辆信息信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/carinfo/detail":{"get":{"tags":["car/车辆信息"],"summary":"查询车辆信息详细信息","operationId":"detailUsingGET_3","parameters":[{"name":"id","in":"query","description":"车辆信息信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«车辆信息表»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carinfo/list":{"get":{"tags":["car/车辆信息"],"summary":"查询车辆信息信息（分页）","operationId":"listUsingGET_3","parameters":[{"name":"brandModel","in":"query","description":"品牌型号","required":false,"style":"form","schema":{"type":"string"}},{"name":"buyDate","in":"query","description":"购买日期","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"carNum","in":"query","description":"车牌号","required":false,"style":"form","schema":{"type":"string"}},{"name":"color","in":"query","description":"车辆颜色","required":false,"style":"form","schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"deptId","in":"query","description":"使用部门id，多个用逗号隔开(对应networkId)","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"deptName","in":"query","description":"使用部门名称，多个用逗号隔开","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"remark","in":"query","description":"备注","required":false,"style":"form","schema":{"type":"string"}},{"name":"seatsNum","in":"query","description":"座位数量","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"1正常 2报废","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«车辆信息表»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carinfo/save":{"put":{"tags":["car/车辆信息"],"summary":"新增车辆信息信息","operationId":"saveUsingPUT_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/车辆信息表Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["car/车辆信息"],"summary":"新增车辆信息信息","operationId":"saveUsingPOST_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/车辆信息表Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carrefuel/del":{"post":{"tags":["car/车辆油耗记"],"summary":"删除车辆油耗记信息","operationId":"delUsingPOST_4","parameters":[{"name":"id","in":"query","description":"待删除的车辆油耗记信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["car/车辆油耗记"],"summary":"删除车辆油耗记信息","operationId":"delUsingDELETE_4","parameters":[{"name":"id","in":"query","description":"待删除的车辆油耗记信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/carrefuel/detail":{"get":{"tags":["car/车辆油耗记"],"summary":"查询车辆油耗记详细信息","operationId":"detailUsingGET_4","parameters":[{"name":"id","in":"query","description":"车辆油耗记信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«车辆油耗记录»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carrefuel/list":{"get":{"tags":["car/车辆油耗记"],"summary":"查询车辆油耗记信息（分页）","operationId":"listUsingGET_4","parameters":[{"name":"amount","in":"query","description":"加油数量L","required":false,"style":"form","schema":{"type":"number","format":"double"}},{"name":"carId","in":"query","description":"车辆id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"grade","in":"query","description":"标号","required":false,"style":"form","schema":{"type":"string"}},{"name":"mileage","in":"query","description":"当前里程","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"price","in":"query","description":"单价","required":false,"style":"form","schema":{"type":"number","format":"double"}},{"name":"refuelDate","in":"query","description":"加油日期","required":false,"style":"form","schema":{"type":"string"}},{"name":"refuelFlag","in":"query","description":"加油类型（1加满 2油灯亮 3 忘记了  可多选，逗号隔开）","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","description":"备注","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«车辆油耗记录»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carrefuel/queryRefuel100":{"get":{"tags":["car/车辆油耗记"],"summary":"查询车辆百公里油耗","operationId":"queryRefuel100UsingGET","parameters":[{"name":"carId","in":"query","description":"carId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"date(yyyy-MM-dd HH:mm:ss)","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"date(yyyy-MM-dd HH:mm:ss)","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«车辆百公里油耗»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carrefuel/queryRefuelConsumption":{"get":{"tags":["car/车辆油耗记"],"summary":"查询油量消耗","operationId":"queryRefuelConsumptionUsingGET","parameters":[{"name":"customerId","in":"query","description":"客户id","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"dateType","in":"query","description":"时间类型，day：日，month：月","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"endTime","in":"query","description":"date(yyyy-MM-dd)","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"date(yyyy-MM-dd)","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«车辆百公里油耗»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/carrefuel/save":{"put":{"tags":["car/车辆油耗记"],"summary":"新增车辆油耗记信息","operationId":"saveUsingPUT_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/车辆油耗记录Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["car/车辆油耗记"],"summary":"新增车辆油耗记信息","operationId":"saveUsingPOST_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/车辆油耗记录Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationclass/del":{"post":{"tags":["evaluation/评估类别"],"summary":"删除评估类别信息","operationId":"delUsingPOST_5","parameters":[{"name":"id","in":"query","description":"待删除的评估类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["evaluation/评估类别"],"summary":"删除评估类别信息","operationId":"delUsingDELETE_5","parameters":[{"name":"id","in":"query","description":"待删除的评估类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/evaluationclass/detail":{"get":{"tags":["evaluation/评估类别"],"summary":"查询评估类别详细信息","operationId":"detailUsingGET_5","parameters":[{"name":"id","in":"query","description":"评估类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«评估类别»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationclass/getScore":{"get":{"tags":["evaluation/评估类别"],"summary":"查询评估得分","operationId":"getScoreUsingGET","parameters":[{"name":"customerId","in":"query","description":"客户ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Map«string,object»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["evaluation/评估类别"],"summary":"查询评估得分","operationId":"getScoreUsingPOST","parameters":[{"name":"customerId","in":"query","description":"客户ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationclass/list":{"get":{"tags":["evaluation/评估类别"],"summary":"查询评估类别信息（分页）","operationId":"listUsingGET_5","parameters":[{"name":"customerId","in":"query","description":"客户id","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"evaluationClass","in":"query","description":"类别","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"parentId","in":"query","description":"父级id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«评估类别»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationclass/save":{"put":{"tags":["evaluation/评估类别"],"summary":"新增评估类别信息","operationId":"saveUsingPUT_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/评估类别Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["evaluation/评估类别"],"summary":"新增评估类别信息","operationId":"saveUsingPOST_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/评估类别Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestionoptions/del":{"post":{"tags":["evaluation/评估题目选"],"summary":"删除评估题目选信息","operationId":"delUsingPOST_6","parameters":[{"name":"id","in":"query","description":"待删除的评估题目选信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["evaluation/评估题目选"],"summary":"删除评估题目选信息","operationId":"delUsingDELETE_6","parameters":[{"name":"id","in":"query","description":"待删除的评估题目选信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/evaluationquestionoptions/detail":{"get":{"tags":["evaluation/评估题目选"],"summary":"查询评估题目选详细信息","operationId":"detailUsingGET_6","parameters":[{"name":"id","in":"query","description":"评估题目选信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«评估题目选项»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestionoptions/list":{"get":{"tags":["evaluation/评估题目选"],"summary":"查询评估题目选信息（分页）","operationId":"listUsingGET_6","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"evaluationQuestionId","in":"query","description":"所属考评项","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"isSelect","in":"query","description":"是否选中","required":false,"style":"form","schema":{"type":"string"}},{"name":"itemCode","in":"query","description":"选项编码","required":false,"style":"form","schema":{"type":"string"}},{"name":"itemContent","in":"query","description":"选项内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"score","in":"query","description":"分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«评估题目选项»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestionoptions/save":{"put":{"tags":["evaluation/评估题目选"],"summary":"新增评估题目选信息","operationId":"saveUsingPUT_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/评估题目选项Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["evaluation/评估题目选"],"summary":"新增评估题目选信息","operationId":"saveUsingPOST_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/评估题目选项Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestions/del":{"post":{"tags":["evaluation/自评题目"],"summary":"删除自评题目信息","operationId":"delUsingPOST_7","parameters":[{"name":"id","in":"query","description":"待删除的自评题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["evaluation/自评题目"],"summary":"删除自评题目信息","operationId":"delUsingDELETE_7","parameters":[{"name":"id","in":"query","description":"待删除的自评题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/evaluationquestions/detail":{"get":{"tags":["evaluation/自评题目"],"summary":"查询自评题目详细信息","operationId":"detailUsingGET_7","parameters":[{"name":"id","in":"query","description":"自评题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«自评题目»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestions/list":{"get":{"tags":["evaluation/自评题目"],"summary":"查询自评题目信息（分页）","operationId":"listUsingGET_7","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"evaluationClass","in":"query","description":"题目分类","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","description":"Page index.(minimum is 1)","required":false},{"name":"pageSize","description":"Page records size.(Respond to all data when it is 0)","required":false},{"name":"questionTitle","in":"query","description":"题目题干","required":false,"style":"form","schema":{"type":"string"}},{"name":"questionType","in":"query","description":"1单选题 2多选题","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","description":"题目解析","required":false,"style":"form","schema":{"type":"string"}},{"name":"scoreLimit","in":"query","description":"最高得分限制","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«Page query data«自评题目»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestions/queryEvaluationAnswerSheet":{"get":{"tags":["evaluation/自评题目"],"summary":"获取测评答题卡","operationId":"queryEvaluationAnswerSheetUsingGET","parameters":[{"name":"customerId","in":"query","description":"customerId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«自评答题卡»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["evaluation/自评题目"],"summary":"获取测评答题卡","operationId":"queryEvaluationAnswerSheetUsingPOST","parameters":[{"name":"customerId","in":"query","description":"customerId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«自评答题卡»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestions/save":{"put":{"tags":["evaluation/自评题目"],"summary":"新增自评题目信息","operationId":"saveUsingPUT_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/自评题目Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["evaluation/自评题目"],"summary":"新增自评题目信息","operationId":"saveUsingPOST_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/自评题目Req"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/evaluationquestions/submitEvaluationAnswerSheet":{"post":{"tags":["evaluation/自评题目"],"summary":"提交自评答题卡","operationId":"submitEvaluationAnswerSheetUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/自评答题卡提交"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«double»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/createExam":{"put":{"tags":["exam/考试"],"summary":"创建考试","operationId":"createExamUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/考试VO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/考试"],"summary":"创建考试","operationId":"createExamUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/考试VO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/del":{"post":{"tags":["exam/考试"],"summary":"删除考试信息","operationId":"delUsingPOST_8","parameters":[{"name":"id","in":"query","description":"待删除的考试信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/考试"],"summary":"删除考试信息","operationId":"delUsingDELETE_8","parameters":[{"name":"id","in":"query","description":"待删除的考试信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/exam/detail":{"get":{"tags":["exam/考试"],"summary":"查询考试详细信息","operationId":"detailUsingGET_8","parameters":[{"name":"id","in":"query","description":"考试信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/list":{"get":{"tags":["exam/考试"],"summary":"查询考试信息（分页）","operationId":"listUsingGET_8","parameters":[{"name":"beginTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"dur","in":"query","description":"考试时长(分钟)","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"examName","in":"query","description":"考试名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"isAllJoin","in":"query","description":"是否全员参加","required":false,"style":"form","schema":{"type":"string"}},{"name":"isLogin","in":"query","description":"0不需要登录 1需要登录","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"paperId","in":"query","description":"关联试卷id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"passScore","in":"query","description":"合格分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].beginTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"records[0].customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].dur","in":"query","description":"考试时长(分钟)","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"records[0].endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"records[0].examName","in":"query","description":"考试名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].isAllJoin","in":"query","description":"是否全员参加","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].isLogin","in":"query","description":"0不需要登录 1需要登录","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].paperClass","in":"query","description":"试卷分类","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].paperId","in":"query","description":"关联试卷id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].passScore","in":"query","description":"合格分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].totalScore","in":"query","description":"试卷总分","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/queryExamAnswerSheet":{"put":{"tags":["exam/考试"],"summary":"获取考试答题卡","operationId":"queryExamAnswerSheetUsingPUT","parameters":[{"name":"examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/考试"],"summary":"获取考试答题卡","operationId":"queryExamAnswerSheetUsingPOST","parameters":[{"name":"examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/queryExamAnswerSheetResult":{"put":{"tags":["exam/考试"],"summary":"获取考试答题卡结果","operationId":"queryExamAnswerSheetResultUsingPUT","parameters":[{"name":"examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/考试"],"summary":"获取考试答题卡结果","operationId":"queryExamAnswerSheetResultUsingPOST","parameters":[{"name":"examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/queryExamUserResultList":{"post":{"tags":["exam/考试"],"summary":"查询试的考生结果列表（分页）","operationId":"queryExamUserResultListUsingPOST","parameters":[{"name":"examId","in":"query","description":"考试信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"records[0].dept","in":"query","description":"部门名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].examName","in":"query","description":"考试名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].isPass","in":"query","description":"是否通过考试","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].score","in":"query","description":"考生分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].userId","in":"query","description":"考生id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].userName","in":"query","description":"考生姓名","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/queryUserExamList":{"post":{"tags":["exam/考试"],"summary":"查询用户的考试列表（分页）","operationId":"queryUserExamListUsingPOST","parameters":[{"name":"customerId","in":"query","description":"客户id","required":false,"style":"form","schema":{"type":"string"}},{"name":"examStatus","in":"query","description":"考试状态，0：未考试，1：已考试","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"records[0].beginTime","in":"query","description":"考试开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"records[0].dur","in":"query","description":"考试时长","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].endTime","in":"query","description":"考试结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"records[0].examId","in":"query","description":"考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].isPass","in":"query","description":"是否通过考试","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].paperClass","in":"query","description":"试卷分类","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].paperName","in":"query","description":"试卷名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].passScore","in":"query","description":"及格分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].questionNum","in":"query","description":"题目数量","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"records[0].score","in":"query","description":"考生分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exam/save":{"put":{"tags":["exam/考试"],"summary":"新增考试信息","operationId":"saveUsingPUT_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/考试表"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/考试"],"summary":"新增考试信息","operationId":"saveUsingPOST_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/考试表"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperclass/del":{"post":{"tags":["exam/试卷分类"],"summary":"删除试卷分类信息","operationId":"delUsingPOST_9","parameters":[{"name":"id","in":"query","description":"待删除的试卷分类信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/试卷分类"],"summary":"删除试卷分类信息","operationId":"delUsingDELETE_9","parameters":[{"name":"id","in":"query","description":"待删除的试卷分类信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/exampaperclass/detail":{"get":{"tags":["exam/试卷分类"],"summary":"查询试卷分类详细信息","operationId":"detailUsingGET_9","parameters":[{"name":"id","in":"query","description":"试卷分类信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperclass/list":{"get":{"tags":["exam/试卷分类"],"summary":"查询试卷分类信息（分页）","operationId":"listUsingGET_9","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"paperClass","in":"query","description":"试卷分类","required":false,"style":"form","schema":{"type":"string"}},{"name":"parentId","in":"query","description":"父级id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperclass/save":{"put":{"tags":["exam/试卷分类"],"summary":"新增试卷分类信息","operationId":"saveUsingPUT_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷分类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/试卷分类"],"summary":"新增试卷分类信息","operationId":"saveUsingPOST_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷分类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaper/del":{"post":{"tags":["exam/试卷"],"summary":"删除试卷信息","operationId":"delUsingPOST_10","parameters":[{"name":"id","in":"query","description":"待删除的试卷信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/试卷"],"summary":"删除试卷信息","operationId":"delUsingDELETE_10","parameters":[{"name":"id","in":"query","description":"待删除的试卷信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/exampaper/detail":{"get":{"tags":["exam/试卷"],"summary":"查询试卷详细信息","operationId":"detailUsingGET_10","parameters":[{"name":"id","in":"query","description":"试卷信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaper/list":{"get":{"tags":["exam/试卷"],"summary":"查询试卷信息（分页）","operationId":"listUsingGET_10","parameters":[{"name":"assemblyType","in":"query","description":"组卷方式 1选题组卷 2随机组卷","required":false,"style":"form","schema":{"type":"string"}},{"name":"createrName","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"dur","in":"query","description":"答卷时长","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"paperClass","in":"query","description":"试卷类型","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"paperName","in":"query","description":"试卷名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"totalScore","in":"query","description":"总分","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaper/save":{"put":{"tags":["exam/试卷"],"summary":"新增试卷信息","operationId":"saveUsingPUT_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/试卷"],"summary":"新增试卷信息","operationId":"saveUsingPOST_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestion/del":{"post":{"tags":["exam/试卷题目"],"summary":"删除试卷题目信息","operationId":"delUsingPOST_11","parameters":[{"name":"id","in":"query","description":"待删除的试卷题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/试卷题目"],"summary":"删除试卷题目信息","operationId":"delUsingDELETE_11","parameters":[{"name":"id","in":"query","description":"待删除的试卷题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/exampaperquestion/detail":{"get":{"tags":["exam/试卷题目"],"summary":"查询试卷题目详细信息","operationId":"detailUsingGET_11","parameters":[{"name":"id","in":"query","description":"试卷题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestion/list":{"get":{"tags":["exam/试卷题目"],"summary":"查询试卷题目信息（分页）","operationId":"listUsingGET_11","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"groupId","in":"query","description":"试卷组id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"questionId","in":"query","description":"题目id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestion/save":{"put":{"tags":["exam/试卷题目"],"summary":"新增试卷题目信息","operationId":"saveUsingPUT_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷题目"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/试卷题目"],"summary":"新增试卷题目信息","operationId":"saveUsingPOST_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷题目"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestiongoup/del":{"post":{"tags":["exam/试卷题目组"],"summary":"删除试卷题目组信息","operationId":"delUsingPOST_12","parameters":[{"name":"id","in":"query","description":"待删除的试卷题目组信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/试卷题目组"],"summary":"删除试卷题目组信息","operationId":"delUsingDELETE_12","parameters":[{"name":"id","in":"query","description":"待删除的试卷题目组信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/exampaperquestiongoup/detail":{"get":{"tags":["exam/试卷题目组"],"summary":"查询试卷题目组详细信息","operationId":"detailUsingGET_12","parameters":[{"name":"id","in":"query","description":"试卷题目组信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestiongoup/list":{"get":{"tags":["exam/试卷题目组"],"summary":"查询试卷题目组信息（分页）","operationId":"listUsingGET_12","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"paperId","in":"query","description":"所属试卷id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"questionType","in":"query","description":"1单选题 2多选题 3判断题 4问答题","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"score","in":"query","description":"每题分数","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"sort","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/exampaperquestiongoup/save":{"put":{"tags":["exam/试卷题目组"],"summary":"新增试卷题目组信息","operationId":"saveUsingPUT_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷题目组"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/试卷题目组"],"summary":"新增试卷题目组信息","operationId":"saveUsingPOST_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/试卷题目组"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionclass/del":{"post":{"tags":["exam/题目类别"],"summary":"删除题目类别信息","operationId":"delUsingPOST_13","parameters":[{"name":"id","in":"query","description":"待删除的题目类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/题目类别"],"summary":"删除题目类别信息","operationId":"delUsingDELETE_13","parameters":[{"name":"id","in":"query","description":"待删除的题目类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/examquestionclass/detail":{"get":{"tags":["exam/题目类别"],"summary":"查询题目类别详细信息","operationId":"detailUsingGET_13","parameters":[{"name":"id","in":"query","description":"题目类别信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionclass/list":{"get":{"tags":["exam/题目类别"],"summary":"查询题目类别信息（分页）","operationId":"listUsingGET_13","parameters":[{"name":"customerId","in":"query","description":"客户id","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"parentId","in":"query","description":"父级id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"questionClass","in":"query","description":"类别","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionclass/queryClassAndQuestionsNumlist":{"put":{"tags":["exam/题目类别"],"summary":"根据条件查询题目类别列表和题目数量","operationId":"queryClassAndQuestionsNumlistUsingPUT","parameters":[{"name":"customerId","in":"query","description":"客户id","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"parentId","in":"query","description":"父级id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"questionClass","in":"query","description":"类别","required":false,"style":"form","schema":{"type":"string"}},{"name":"questionType","in":"query","description":"1单选题 2多选题 3判断题 4问答题","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/题目类别"],"summary":"根据条件查询题目类别列表和题目数量","operationId":"queryClassAndQuestionsNumlistUsingPOST","parameters":[{"name":"customerId","in":"query","description":"客户id","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"parentId","in":"query","description":"父级id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"questionClass","in":"query","description":"类别","required":false,"style":"form","schema":{"type":"string"}},{"name":"questionType","in":"query","description":"1单选题 2多选题 3判断题 4问答题","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionclass/save":{"put":{"tags":["exam/题目类别"],"summary":"新增题目类别信息","operationId":"saveUsingPUT_13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目类别"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/题目类别"],"summary":"新增题目类别信息","operationId":"saveUsingPOST_13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目类别"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionoptions/del":{"post":{"tags":["exam/题目选项"],"summary":"删除题目选项信息","operationId":"delUsingPOST_14","parameters":[{"name":"id","in":"query","description":"待删除的题目选项信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/题目选项"],"summary":"删除题目选项信息","operationId":"delUsingDELETE_14","parameters":[{"name":"id","in":"query","description":"待删除的题目选项信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/examquestionoptions/detail":{"get":{"tags":["exam/题目选项"],"summary":"查询题目选项详细信息","operationId":"detailUsingGET_14","parameters":[{"name":"id","in":"query","description":"题目选项信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionoptions/list":{"get":{"tags":["exam/题目选项"],"summary":"查询题目选项信息（分页）","operationId":"listUsingGET_14","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"isAnswer","in":"query","description":"是否答案 0否 1是","required":false,"style":"form","schema":{"type":"string"}},{"name":"itemCode","in":"query","description":"选项编码","required":false,"style":"form","schema":{"type":"string"}},{"name":"itemContent","in":"query","description":"选项内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"questionId","in":"query","description":"所属试题","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestionoptions/save":{"put":{"tags":["exam/题目选项"],"summary":"新增题目选项信息","operationId":"saveUsingPUT_14","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目选项"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/题目选项"],"summary":"新增题目选项信息","operationId":"saveUsingPOST_14","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目选项"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestions/del":{"post":{"tags":["exam/题目"],"summary":"删除题目信息","operationId":"delUsingPOST_15","parameters":[{"name":"id","in":"query","description":"待删除的题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/题目"],"summary":"删除题目信息","operationId":"delUsingDELETE_15","parameters":[{"name":"id","in":"query","description":"待删除的题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/examquestions/detail":{"get":{"tags":["exam/题目"],"summary":"查询题目详细信息","operationId":"detailUsingGET_15","parameters":[{"name":"id","in":"query","description":"题目信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestions/excelDownload":{"get":{"tags":["exam/题目"],"summary":"excel模板下载","operationId":"excelDownloadUsingGET","responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestions/excelImport":{"post":{"tags":["exam/题目"],"summary":"excel导入题目","operationId":"excelImportUsingPOST","parameters":[{"name":"customerId","in":"query","description":"客户id","required":true,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestions/list":{"get":{"tags":["exam/题目"],"summary":"查询题目信息（分页）","operationId":"listUsingGET_15","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"difficulty","in":"query","description":"1简单 2普通 3困难","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"examQuestionOptions[0].customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"examQuestionOptions[0].isAnswer","in":"query","description":"是否答案 0否 1是","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].itemCode","in":"query","description":"选项编码","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].itemContent","in":"query","description":"选项内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].questionId","in":"query","description":"所属试题","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"examQuestionOptions[0].remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"examQuestionOptions[0].sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"isPaging","in":"query","description":"是否分页：true/false","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"questionClass","in":"query","description":"题目分类","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"questionTitle","in":"query","description":"题目题干","required":false,"style":"form","schema":{"type":"string"}},{"name":"questionType","in":"query","description":"1单选题 2多选题 3判断题 4问答题","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].answer","in":"query","description":"答案","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].difficulty","in":"query","description":"1简单 2普通 3困难","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"records[0].examQuestionOptionsList[0].customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"records[0].examQuestionOptionsList[0].isAnswer","in":"query","description":"是否答案 0否 1是","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].itemCode","in":"query","description":"选项编码","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].itemContent","in":"query","description":"选项内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].questionId","in":"query","description":"所属试题","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].examQuestionOptionsList[0].remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].examQuestionOptionsList[0].sort","in":"query","description":"排序","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].questionClass","in":"query","description":"题目分类","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"records[0].questionTitle","in":"query","description":"题目题干","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].questionType","in":"query","description":"1单选题 2多选题 3判断题 4问答题","required":false,"style":"form","schema":{"type":"string"}},{"name":"records[0].remark","in":"query","description":"题目解析","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","description":"题目解析","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examquestions/save":{"put":{"tags":["exam/题目"],"summary":"新增题目信息","operationId":"saveUsingPUT_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目VO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/题目"],"summary":"新增题目信息","operationId":"saveUsingPOST_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/题目VO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuseranswer/del":{"post":{"tags":["exam/用户答案"],"summary":"删除用户答案信息","operationId":"delUsingPOST_16","parameters":[{"name":"id","in":"query","description":"待删除的用户答案信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/用户答案"],"summary":"删除用户答案信息","operationId":"delUsingDELETE_16","parameters":[{"name":"id","in":"query","description":"待删除的用户答案信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/examuseranswer/detail":{"get":{"tags":["exam/用户答案"],"summary":"查询用户答案详细信息","operationId":"detailUsingGET_16","parameters":[{"name":"id","in":"query","description":"用户答案信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuseranswer/list":{"get":{"tags":["exam/用户答案"],"summary":"查询用户答案信息（分页）","operationId":"listUsingGET_16","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"examUserResultId","in":"query","description":"用户考试结果id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"examitemId","in":"query","description":"用户答案","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"isRight","in":"query","description":"是否正确答案 0错误 1正确","required":false,"style":"form","schema":{"type":"string"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"paperquestionId","in":"query","description":"所属试卷题目","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuseranswer/save":{"put":{"tags":["exam/用户答案"],"summary":"新增用户答案信息","operationId":"saveUsingPUT_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/用户答案"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/用户答案"],"summary":"新增用户答案信息","operationId":"saveUsingPOST_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/用户答案"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuserattend/del":{"post":{"tags":["exam/参加考试的"],"summary":"删除参加考试的信息","operationId":"delUsingPOST_17","parameters":[{"name":"id","in":"query","description":"待删除的参加考试的信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/参加考试的"],"summary":"删除参加考试的信息","operationId":"delUsingDELETE_17","parameters":[{"name":"id","in":"query","description":"待删除的参加考试的信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/epiot/examuserattend/detail":{"get":{"tags":["exam/参加考试的"],"summary":"查询参加考试的详细信息","operationId":"detailUsingGET_17","parameters":[{"name":"id","in":"query","description":"参加考试的信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuserattend/list":{"get":{"tags":["exam/参加考试的"],"summary":"查询参加考试的信息（分页）","operationId":"listUsingGET_17","parameters":[{"name":"customerId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"deptName","in":"query","description":"参加考试所属部门名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"enable","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"examId","in":"query","description":"所属考试id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"organizationCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码，取值范围：1 <= pageNum","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"单页数据记录，当pageSize=0时返回所有记录","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"remark","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"total","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"参加考试用户id","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userName","in":"query","description":"参加考试用户名称","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuserattend/save":{"put":{"tags":["exam/参加考试的"],"summary":"新增参加考试的信息","operationId":"saveUsingPUT_17","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/参加考试的用户"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["exam/参加考试的"],"summary":"新增参加考试的信息","operationId":"saveUsingPOST_17","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/参加考试的用户"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/epiot/examuserresult/del":{"post":{"tags":["exam/用户考试结"],"summary":"删除用户考试结信息","operationId":"delUsingPOST_18","parameters":[{"name":"id","in":"query","description":"待删除的用户考试结信息ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RespBase«object»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["exam/用户考试结"],"summary":"删除用户考试结信息","operationId":"delUsingDELETE_18","parameters":[{"name
[...]
