<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.ClusterExtensionDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.ClusterExtension">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
		<result column="default_env" property="defaultEnv" jdbcType="VARCHAR" />
		<result column="default_branch" property="defaultBranch" jdbcType="VARCHAR" />

		<!--other -->
		<result column="cluster_name" property="clusterName" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, cluster_id, default_env, default_branch
	</sql>

	<sql id="Base_Column_List_e">
		e.id, e.default_env, e.default_branch
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_cluster_extension
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_cluster_extension
		where cluster_id = #{clusterId,jdbcType=BIGINT}
		limit 1
	</select>

	<select id="selectByClusterName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List_e" />
		from ci_cluster_extension e
		inner join erm_app_cluster c on c.id = e.cluster_id
		where c.name = #{clusterName,jdbcType=VARCHAR}
		limit 1
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_cluster_extension
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.ClusterExtension">
		insert into ci_cluster_extension (id, cluster_id, default_env,
		default_branch)
		values (#{id,jdbcType=BIGINT}, #{clusterId,jdbcType=BIGINT}, #{defaultEnv,jdbcType=VARCHAR},
		#{defaultBranch,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.ClusterExtension">
		insert into ci_cluster_extension
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="clusterId != null">
				cluster_id,
			</if>
			<if test="defaultEnv != null">
				default_env,
			</if>
			<if test="defaultBranch != null">
				default_branch,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="clusterId != null">
				#{clusterId,jdbcType=BIGINT},
			</if>
			<if test="defaultEnv != null">
				#{defaultEnv,jdbcType=VARCHAR},
			</if>
			<if test="defaultBranch != null">
				#{defaultBranch,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.ClusterExtension">
		update ci_cluster_extension
		<set>
			<if test="clusterId != null">
				cluster_id = #{clusterId,jdbcType=BIGINT},
			</if>
			<if test="defaultEnv != null">
				default_env = #{defaultEnv,jdbcType=VARCHAR},
			</if>
			<if test="defaultBranch != null">
				default_branch = #{defaultBranch,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.ClusterExtension">
		update ci_cluster_extension
		set cluster_id = #{clusterId,jdbcType=BIGINT},
		default_env = #{defaultEnv,jdbcType=VARCHAR},
		default_branch = #{defaultBranch,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List_e" />
		,c.name cluster_name,c.id cluster_id
		from erm_app_cluster c
		left join ci_cluster_extension e on c.id = e.cluster_id
		where c.del_flag!=1
		<if test="clusterName != null and clusterName != ''">
			AND c.name LIKE CONCAT('%','${clusterName}','%')
		</if>
	</select>

</mapper>