<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.OrchestrationHistoryDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.OrchestrationHistory">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="run_id" property="runId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
		<result column="cost_time" jdbcType="TIMESTAMP" property="costTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, run_id, status, info, create_date, create_by, update_date, update_by, organization_code, cost_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_orchestration_history
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByRunId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ci_orchestration_history
		where run_id = #{runId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_orchestration_history
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.OrchestrationHistory">
		insert into ci_orchestration_history (id, run_id, status,
		info, create_date, create_by,
		update_date, update_by, organization_code, cost_time
		)
		values (#{id,jdbcType=BIGINT}, #{runId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{info,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR}, #{costTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.OrchestrationHistory">
		insert into ci_orchestration_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="runId != null">
				run_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="info != null">
				info,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="organizationCode != null">
				organization_code,
			</if>
			<if test="costTime != null">
				cost_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="runId != null">
				#{runId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="info != null">
				#{info,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				#{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="costTime != null">
				#{costTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.OrchestrationHistory">
		update ci_orchestration_history
		<set>
			<if test="runId != null">
				run_id = #{runId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="info != null">
				info = #{info,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				organization_code = #{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="costTime != null">
				cost_time = #{costTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.OrchestrationHistory">
		update ci_orchestration_history
		set run_id = #{runId,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		info = #{info,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		organization_code = #{organizationCode,jdbcType=VARCHAR},
		cost_time = #{costTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from ci_orchestration_history
		where 1=1
		<if test="runId != null and runId != ''">
			AND run_id LIKE CONCAT('%','${runId}','%')
		</if>
		<if test="organizationCodes != null and organizationCodes.size() > 0">
			and organization_code in
			<foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
				#{organizationCode}
			</foreach>
		</if>
		order by create_date desc
	</select>

</mapper>