<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.OrchestrationPipelineDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.OrchestrationPipeline">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="orchestration_id" jdbcType="INTEGER" property="orchestrationId" />
		<result column="pipeline_id" jdbcType="INTEGER" property="pipelineId" />
		<result column="priority" jdbcType="INTEGER" property="priority" />
	</resultMap>
	<sql id="Base_Column_List">
		id, orchestration_id, pipeline_id, priority
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ci_orchestration_pipeline
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByOrchestrationId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ci_orchestration_pipeline
		where orchestration_id = #{orchestrationId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_orchestration_pipeline
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.OrchestrationPipeline">
		insert into ci_orchestration_pipeline (id, orchestration_id, pipeline_id,
		priority)
		values (#{id,jdbcType=BIGINT}, #{orchestrationId,jdbcType=BIGINT}, #{pipelineId,jdbcType=BIGINT},
		#{priority,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.OrchestrationPipeline">
		insert into ci_orchestration_pipeline
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orchestrationId != null">
				orchestration_id,
			</if>
			<if test="pipelineId != null">
				pipeline_id,
			</if>
			<if test="priority != null">
				priority,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="orchestrationId != null">
				#{orchestrationId,jdbcType=BIGINT},
			</if>
			<if test="pipelineId != null">
				#{pipelineId,jdbcType=BIGINT},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.OrchestrationPipeline">
		update ci_orchestration_pipeline
		<set>
			<if test="orchestrationId != null">
				orchestration_id = #{orchestrationId,jdbcType=BIGINT},
			</if>
			<if test="pipelineId != null">
				pipeline_id = #{pipelineId,jdbcType=BIGINT},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.OrchestrationPipeline">
		update ci_orchestration_pipeline
		set orchestration_id = #{orchestrationId,jdbcType=BIGINT},
		pipeline_id = #{pipelineId,jdbcType=BIGINT},
		priority = #{priority,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>