<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.PipelineDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.Pipeline">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="pipe_name" jdbcType="VARCHAR" property="pipeName" />
		<result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
		<result column="cluster_id" jdbcType="INTEGER" property="clusterId" />
		<result column="provider_kind" jdbcType="VARCHAR" property="providerKind" />
		<result column="environment" jdbcType="VARCHAR" property="environment" />
		<result column="parent_app_home" jdbcType="VARCHAR" property="parentAppHome" />
		<result column="assets_dir" jdbcType="VARCHAR" property="assetsDir" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="del_flag" jdbcType="INTEGER" property="delFlag" />

		<!-- other -->
		<result column="cluster_name" property="clusterName" jdbcType="VARCHAR" />
		<result column="pcm_enable" jdbcType="INTEGER" property="pcmEnable" />
		<result column="pcm_id" jdbcType="INTEGER" property="pcmId" />



		<!--<collection property="instances" javaType="list" ofType="com.wl4g.components.core.bean.erm.AppInstance"> <id column="i.id" property="id" 
			jdbcType="INTEGER" /> <result column="i.hostname" property="hostname" jdbcType="VARCHAR" /> <result column="i.endpoint" property="endpoint" 
			jdbcType="INTEGER" /> <result column="i.remark" property="remark" jdbcType="VARCHAR" /> </collection> -->

	</resultMap>

	<resultMap id="ListResultMap" type="com.wl4g.components.core.bean.ci.Pipeline" extends="BaseResultMap">
		<collection property="instances" select="selectInstancesByDeployId" column="{deployId = deploy_id}"
			ofType="com.wl4g.components.core.bean.erm.AppInstance" javaType="java.util.List">
		</collection>
	</resultMap>


	<sql id="Base_Column_List">
		id, pipe_name, organization_code, cluster_id, provider_kind, environment, parent_app_home, assets_dir,
		remark, create_date, create_by, update_date, update_by, del_flag
	</sql>

	<sql id="Base_Column_List_p">
		p.id, p.pipe_name,p.organization_code, p.cluster_id, p.provider_kind, p.environment, p.parent_app_home, p.assets_dir,
		p.remark, p.create_date, p.create_by, p.update_date, p.update_by, p.del_flag
	</sql>


	<select id="selectInstancesByDeployId" resultMap="com.wl4g.devops.dao.erm.AppInstanceDao.BaseResultMap"
		parameterType="java.util.Map">
		select
		i.id,h.`hostname`,i.remark
		from erm_app_instance i
		inner join ci_pipe_step_deploy_instance pi on i.id=pi.instance_id
		left join erm_host h on h.id=i.host_id
		where pi.deploy_id= #{deployId};
	</select>


	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ci_pipeline
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_pipeline
		where cluster_id = #{clusterId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_pipeline
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.Pipeline">
		insert into ci_pipeline (id, pipe_name, organization_code, cluster_id,
		provider_kind, environment, parent_app_home,
		assets_dir, remark, create_date,
		create_by, update_date, update_by,
		del_flag)
		values (#{id,jdbcType=BIGINT}, #{pipeName,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR}, #{clusterId,jdbcType=BIGINT},
		#{providerKind,jdbcType=VARCHAR}, #{environment,jdbcType=VARCHAR}, #{parentAppHome,jdbcType=VARCHAR},
		#{assetsDir,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
		#{delFlag,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.Pipeline">
		insert into ci_pipeline
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pipeName != null">
				pipe_name,
			</if>
			<if test="organizationCode != null">
				organization_code,
			</if>
			<if test="clusterId != null">
				cluster_id,
			</if>
			<if test="providerKind != null">
				provider_kind,
			</if>
			<if test="environment != null">
				environment,
			</if>
			<if test="parentAppHome != null">
				parent_app_home,
			</if>
			<if test="assetsDir != null">
				assets_dir,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="pipeName != null">
				#{pipeName,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				#{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="clusterId != null">
				#{clusterId,jdbcType=BIGINT},
			</if>
			<if test="providerKind != null">
				#{providerKind,jdbcType=VARCHAR},
			</if>
			<if test="environment != null">
				#{environment,jdbcType=VARCHAR},
			</if>
			<if test="parentAppHome != null">
				#{parentAppHome,jdbcType=VARCHAR},
			</if>
			<if test="assetsDir != null">
				#{assetsDir,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.Pipeline">
		update ci_pipeline
		<set>
			<if test="pipeName != null">
				pipe_name = #{pipeName,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				organization_code = #{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="clusterId != null">
				cluster_id = #{clusterId,jdbcType=BIGINT},
			</if>
			<if test="providerKind != null">
				provider_kind = #{providerKind,jdbcType=VARCHAR},
			</if>
			<if test="environment != null">
				environment = #{environment,jdbcType=VARCHAR},
			</if>
			<if test="parentAppHome != null">
				parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
			</if>
			<if test="assetsDir != null">
				assets_dir = #{assetsDir,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.Pipeline">
		update ci_pipeline
		set pipe_name = #{pipeName,jdbcType=VARCHAR},
		organization_code = #{organizationCode,jdbcType=VARCHAR},
		cluster_id = #{clusterId,jdbcType=BIGINT},
		provider_kind = #{providerKind,jdbcType=VARCHAR},
		environment = #{environment,jdbcType=VARCHAR},
		parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
		assets_dir = #{assetsDir,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="list" resultMap="ListResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List_p" />
		,c.name cluster_name,sp.enable pcm_enable,sp.pcm_id,d.id deploy_id
		from ci_pipeline p
		left join erm_app_cluster c on p.cluster_id=c.id
		left join ci_pipe_step_deploy d on d.pipe_id=p.id
		left join ci_pipe_step_pcm sp on sp.pipe_id=p.id
		where p.del_flag!=1
		<if test="id != null and id != ''">
			AND p.id = #{id,jdbcType=BIGINT}
		</if>
		<if test="environment != null and environment != ''">
			AND p.environment = #{environment,jdbcType=INTEGER}
		</if>
		<if test="pipeName != null and pipeName != ''">
			AND p.pipe_name LIKE CONCAT('%','${pipeName}','%')
		</if>
		<if test="clusterName != null and clusterName != ''">
			AND c.name = #{clusterName,jdbcType=VARCHAR}
		</if>
		<if test="providerKind != null and providerKind != ''">
			AND p.provider_kind = #{providerKind,jdbcType=VARCHAR}
		</if>
		<if test="organizationCodes != null and organizationCodes.size() > 0">
			and p.organization_code in
			<foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
				#{organizationCode}
			</foreach>
		</if>
		order by p.create_date desc
	</select>

</mapper>