<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.PipeHistoryPcmDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.PipeHistoryPcm">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="enable" jdbcType="INTEGER" property="enable" />
		<result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
		<result column="pcm_id" jdbcType="INTEGER" property="pcmId" />
		<result column="x_project_id" jdbcType="INTEGER" property="xProjectId" />
		<result column="x_tracker" jdbcType="VARCHAR" property="xTracker" />
		<result column="x_parent_issue_id" jdbcType="VARCHAR" property="xParentIssueId" />
		<result column="x_status" jdbcType="VARCHAR" property="xStatus" />
		<result column="x_subject" jdbcType="VARCHAR" property="xSubject" />
		<result column="x_description" jdbcType="VARCHAR" property="xDescription" />
		<result column="x_priority" jdbcType="VARCHAR" property="xPriority" />
		<result column="x_assign_to" jdbcType="VARCHAR" property="xAssignTo" />
		<result column="x_start_date" jdbcType="TIMESTAMP" property="xStartDate" />
		<result column="x_expected_time" jdbcType="BIGINT" property="xExpectedTime" />
		<result column="x_custom_fields" jdbcType="VARCHAR" property="xCustomFields" />
	</resultMap>
	<sql id="Base_Column_List">
		id, enable, pipe_id, pcm_id, x_project_id, x_tracker, x_parent_issue_id, x_status, x_subject, x_description,
		x_priority, x_assign_to, x_start_date, x_expected_time, x_custom_fields
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ci_pipe_history_pcm
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_pipe_history_pcm
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.PipeHistoryPcm">
		insert into ci_pipe_history_pcm (id, enable, pipe_id,
		pcm_id, x_project_id, x_tracker, x_parent_issue_id,
		x_status, x_subject, x_description,
		x_priority, x_assign_to, x_start_date,
		x_expected_time, x_custom_fields)
		values (#{id,jdbcType=BIGINT}, #{enable,jdbcType=INTEGER}, #{pipeId,jdbcType=BIGINT},
		#{pcmId,jdbcType=BIGINT}, #{xProjectId,jdbcType=BIGINT}, #{xTracker,jdbcType=VARCHAR}, #{xParentIssueId,jdbcType=VARCHAR},
		#{xStatus,jdbcType=VARCHAR}, #{xSubject,jdbcType=VARCHAR}, #{xDescription,jdbcType=VARCHAR},
		#{xPriority,jdbcType=VARCHAR}, #{xAssignTo,jdbcType=VARCHAR}, #{xStartDate,jdbcType=TIMESTAMP},
		#{xExpectedTime,jdbcType=BIGINT}, #{xCustomFields,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.PipeHistoryPcm">
		insert into ci_pipe_history_pcm
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="pipeId != null">
				pipe_id,
			</if>
			<if test="pcmId != null">
				pcm_id,
			</if>
			<if test="xProjectId != null">
				x_project_id,
			</if>
			<if test="xTracker != null">
				x_tracker,
			</if>
			<if test="xParentIssueId != null">
				x_parent_issue_id,
			</if>
			<if test="xStatus != null">
				x_status,
			</if>
			<if test="xSubject != null">
				x_subject,
			</if>
			<if test="xDescription != null">
				x_description,
			</if>
			<if test="xPriority != null">
				x_priority,
			</if>
			<if test="xAssignTo != null">
				x_assign_to,
			</if>
			<if test="xStartDate != null">
				x_start_date,
			</if>
			<if test="xExpectedTime != null">
				x_expected_time,
			</if>
			<if test="xCustomFields != null">
				x_custom_fields,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=INTEGER},
			</if>
			<if test="pipeId != null">
				#{pipeId,jdbcType=BIGINT},
			</if>
			<if test="pcmId != null">
				#{pcmId,jdbcType=BIGINT},
			</if>
			<if test="xProjectId != null">
				#{xProjectId,jdbcType=BIGINT},
			</if>
			<if test="xTracker != null">
				#{xTracker,jdbcType=VARCHAR},
			</if>
			<if test="xParentIssueId != null">
				#{xParentIssueId,jdbcType=VARCHAR},
			</if>
			<if test="xStatus != null">
				#{xStatus,jdbcType=VARCHAR},
			</if>
			<if test="xSubject != null">
				#{xSubject,jdbcType=VARCHAR},
			</if>
			<if test="xDescription != null">
				#{xDescription,jdbcType=VARCHAR},
			</if>
			<if test="xPriority != null">
				#{xPriority,jdbcType=VARCHAR},
			</if>
			<if test="xAssignTo != null">
				#{xAssignTo,jdbcType=VARCHAR},
			</if>
			<if test="xStartDate != null">
				#{xStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="xExpectedTime != null">
				#{xExpectedTime,jdbcType=BIGINT},
			</if>
			<if test="xCustomFields != null">
				#{xCustomFields,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.PipeHistoryPcm">
		update ci_pipe_history_pcm
		<set>
			<if test="enable != null">
				enable = #{enable,jdbcType=INTEGER},
			</if>
			<if test="pipeId != null">
				pipe_id = #{pipeId,jdbcType=BIGINT},
			</if>
			<if test="pcmId != null">
				pcm_id = #{pcmId,jdbcType=BIGINT},
			</if>
			<if test="xProjectId != null">
				x_project_id = #{xProjectId,jdbcType=BIGINT},
			</if>
			<if test="xTracker != null">
				x_tracker = #{xTracker,jdbcType=VARCHAR},
			</if>
			<if test="xParentIssueId != null">
				x_parent_issue_id = #{xParentIssueId,jdbcType=VARCHAR},
			</if>
			<if test="xStatus != null">
				x_status = #{xStatus,jdbcType=VARCHAR},
			</if>
			<if test="xSubject != null">
				x_subject = #{xSubject,jdbcType=VARCHAR},
			</if>
			<if test="xDescription != null">
				x_description = #{xDescription,jdbcType=VARCHAR},
			</if>
			<if test="xPriority != null">
				x_priority = #{xPriority,jdbcType=VARCHAR},
			</if>
			<if test="xAssignTo != null">
				x_assign_to = #{xAssignTo,jdbcType=VARCHAR},
			</if>
			<if test="xStartDate != null">
				x_start_date = #{xStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="xExpectedTime != null">
				x_expected_time = #{xExpectedTime,jdbcType=BIGINT},
			</if>
			<if test="xCustomFields != null">
				x_custom_fields = #{xCustomFields,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.PipeHistoryPcm">
		update ci_pipe_history_pcm
		set enable = #{enable,jdbcType=INTEGER},
		pipe_id = #{pipeId,jdbcType=BIGINT},
		pcm_id = #{pcmId,jdbcType=BIGINT},
		x_project_id = #{xProjectId,jdbcType=BIGINT},
		x_tracker = #{xTracker,jdbcType=VARCHAR},
		x_parent_issue_id = #{xParentIssueId,jdbcType=VARCHAR},
		x_status = #{xStatus,jdbcType=VARCHAR},
		x_subject = #{xSubject,jdbcType=VARCHAR},
		x_description = #{xDescription,jdbcType=VARCHAR},
		x_priority = #{xPriority,jdbcType=VARCHAR},
		x_assign_to = #{xAssignTo,jdbcType=VARCHAR},
		x_start_date = #{xStartDate,jdbcType=TIMESTAMP},
		x_expected_time = #{xExpectedTime,jdbcType=BIGINT},
		x_custom_fields = #{xCustomFields,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>