<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.PipelineHistoryDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.PipelineHistory">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
		<result column="provider_kind" jdbcType="VARCHAR" property="providerKind" />
		<result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="sha_local" jdbcType="VARCHAR" property="shaLocal" />
		<result column="ref_id" jdbcType="INTEGER" property="refId" />
		<result column="cost_time" jdbcType="TIMESTAMP" property="costTime" />
		<result column="track_type" jdbcType="VARCHAR" property="trackType" />
		<result column="track_id" jdbcType="VARCHAR" property="trackId" />
		<result column="annex" jdbcType="VARCHAR" property="annex" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="del_flag" jdbcType="INTEGER" property="delFlag" />
		<result column="orchestration_type" jdbcType="INTEGER" property="orchestrationType" />
		<result column="orchestration_id" jdbcType="INTEGER" property="orchestrationId" />

		<!--other -->
		<result column="environment" jdbcType="VARCHAR" property="environment" />
		<result column="pipe_name" property="pipeName" jdbcType="VARCHAR" />
		<result column="cluster_name" property="clusterName" jdbcType="VARCHAR" />
		<result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pipe_id, provider_kind, organization_code, status, sha_local, ref_id, cost_time, track_type, track_id,
		annex, remark, create_date, create_by, update_date, update_by, del_flag, orchestration_type, orchestration_id
	</sql>
	<sql id="Base_Column_List_h">
		h.id, h.pipe_id, h.provider_kind, h.organization_code, h.status, h.sha_local, h.ref_id, h.cost_time, h.track_type, h.track_id,
		h.annex, h.remark, h.create_date, h.create_by, h.update_date, h.update_by, h.del_flag, h.orchestration_type, h.orchestration_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_h" />
		,p.pipe_name,c.name cluster_name
		from ci_pipe_history h
		left join ci_pipeline p on p.id=h.pipe_id
		left join erm_app_cluster c on p.cluster_id=c.id
		where h.id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_pipe_history
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.PipelineHistory">
		insert into ci_pipe_history (id, pipe_id, provider_kind, organization_code,
		status, sha_local, ref_id,
		cost_time, track_type, track_id,
		annex, remark, create_date,
		create_by, update_date, update_by,
		del_flag,orchestration_type, orchestration_id)
		values (#{id,jdbcType=BIGINT}, #{pipeId,jdbcType=BIGINT}, #{providerKind,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{shaLocal,jdbcType=VARCHAR}, #{refId,jdbcType=BIGINT},
		#{costTime,jdbcType=TIMESTAMP}, #{trackType,jdbcType=VARCHAR}, #{trackId,jdbcType=VARCHAR},
		#{annex,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
		#{delFlag,jdbcType=INTEGER}, #{orchestrationType,jdbcType=INTEGER}, #{orchestrationId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.PipelineHistory">
		insert into ci_pipe_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pipeId != null">
				pipe_id,
			</if>
			<if test="providerKind != null">
				provider_kind,
			</if>
			<if test="organizationCode != null">
				organization_code,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="shaLocal != null">
				sha_local,
			</if>
			<if test="refId != null">
				ref_id,
			</if>
			<if test="costTime != null">
				cost_time,
			</if>
			<if test="trackType != null">
				track_type,
			</if>
			<if test="trackId != null">
				track_id,
			</if>
			<if test="annex != null">
				annex,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="orchestrationType != null">
				orchestration_type,
			</if>
			<if test="orchestrationId != null">
				orchestration_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="pipeId != null">
				#{pipeId,jdbcType=BIGINT},
			</if>
			<if test="providerKind != null">
				#{providerKind,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				#{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="shaLocal != null">
				#{shaLocal,jdbcType=VARCHAR},
			</if>
			<if test="refId != null">
				#{refId,jdbcType=BIGINT},
			</if>
			<if test="costTime != null">
				#{costTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trackType != null">
				#{trackType,jdbcType=VARCHAR},
			</if>
			<if test="trackId != null">
				#{trackId,jdbcType=VARCHAR},
			</if>
			<if test="annex != null">
				#{annex,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
			<if test="orchestrationType != null">
				#{orchestrationType,jdbcType=INTEGER},
			</if>
			<if test="orchestrationId != null">
				#{orchestrationId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.PipelineHistory">
		update ci_pipe_history
		<set>
			<if test="pipeId != null">
				pipe_id = #{pipeId,jdbcType=BIGINT},
			</if>
			<if test="providerKind != null">
				provider_kind = #{providerKind,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				organization_code = #{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="shaLocal != null">
				sha_local = #{shaLocal,jdbcType=VARCHAR},
			</if>
			<if test="refId != null">
				ref_id = #{refId,jdbcType=BIGINT},
			</if>
			<if test="costTime != null">
				cost_time = #{costTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trackType != null">
				track_type = #{trackType,jdbcType=VARCHAR},
			</if>
			<if test="trackId != null">
				track_id = #{trackId,jdbcType=VARCHAR},
			</if>
			<if test="annex != null">
				annex = #{annex,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
			<if test="orchestrationType != null">
				orchestration_type = #{orchestrationType,jdbcType=INTEGER},
			</if>
			<if test="orchestrationId != null">
				orchestration_id = #{orchestrationId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.PipelineHistory">
		update ci_pipe_history
		set pipe_id = #{pipeId,jdbcType=BIGINT},
		provider_kind = #{providerKind,jdbcType=VARCHAR},
		organization_code = #{organizationCode,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		sha_local = #{shaLocal,jdbcType=VARCHAR},
		ref_id = #{refId,jdbcType=BIGINT},
		cost_time = #{costTime,jdbcType=TIMESTAMP},
		track_type = #{trackType,jdbcType=VARCHAR},
		track_id = #{trackId,jdbcType=VARCHAR},
		annex = #{annex,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER},
		orchestration_type = #{orchestrationType,jdbcType=INTEGER},
		orchestration_id = #{orchestrationId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List_h" />
		,p.pipe_name,c.name cluster_name,u.user_name create_by_name, p.environment
		from ci_pipe_history h
		left join ci_pipeline p on p.id=h.pipe_id
		left join erm_app_cluster c on p.cluster_id=c.id
		left join sys_user u on u.id = h.create_by
		where h.del_flag!=1
		<if test="pipeName != null and pipeName != ''">
			AND p.pipe_name LIKE CONCAT('%','${pipeName}','%')
		</if>
		<if test="environment != null and environment != ''">
			AND p.environment = #{environment,jdbcType=VARCHAR}
		</if>
		<if test="providerKind != null and providerKind != ''">
			AND h.provider_kind = #{providerKind,jdbcType=VARCHAR}
		</if>
		<if test="clusterName != null and clusterName != ''">
			AND c.name LIKE CONCAT('%','${clusterName}','%')
		</if>

		<choose>
			<when test="orchestrationType != null">
				AND h.orchestration_type = #{orchestrationType,jdbcType=INTEGER}
			</when>
			<otherwise>
				AND h.orchestration_type is null
			</otherwise>
		</choose>

		<if test="orchestrationId != null">
			AND h.orchestration_id = #{orchestrationId,jdbcType=BIGINT}
		</if>

		<if test="startDate!=null and startDate!='' and endDate!='' and endDate !=null">
			AND DATE_FORMAT(h.create_date,'%Y-%m-%d %H:%i') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
			AND DATE_FORMAT(h.create_date,'%Y-%m-%d %H:%i') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
		</if>
		<if test="organizationCodes != null and organizationCodes.size() > 0">
			and h.organization_code in
			<foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
				#{organizationCode}
			</foreach>
		</if>
		order by h.create_date desc
	</select>

	<update id="updateStatus" parameterType="java.lang.Long">
    update ci_pipe_history set status=4
    where status in(0,1)
    and TIMESTAMPDIFF(second ,create_date,now())&gt;#{time,jdbcType=BIGINT};
	</update>

</mapper>