<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.ProjectDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.Project">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
		<result column="vcs_id" jdbcType="INTEGER" property="vcsId" />
		<result column="http_url" jdbcType="VARCHAR" property="httpUrl" />
		<result column="ssh_url" jdbcType="VARCHAR" property="sshUrl" />
		<result column="git_info" jdbcType="VARCHAR" property="gitInfo" />
		<result column="app_cluster_id" jdbcType="INTEGER" property="appClusterId" />
		<result column="lock_status" jdbcType="INTEGER" property="lockStatus" />
		<result column="is_boot" jdbcType="INTEGER" property="isBoot" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="del_flag" jdbcType="INTEGER" property="delFlag" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<!-- other -->
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />

		<association property="vcs" javaType="com.wl4g.components.core.bean.ci.Vcs">
			<id column="v.id" property="id" jdbcType="INTEGER" />
			<result column="v.name" property="name" jdbcType="VARCHAR" />
			<result column="v.provider_kind" property="providerKind" jdbcType="INTEGER" />
			<result column="v.auth_type" property="authType" jdbcType="INTEGER" />
			<result column="v.base_uri" property="baseUri" jdbcType="VARCHAR" />
			<result column="v.ssh_key_pub" property="sshKeyPub" jdbcType="VARCHAR" />
			<result column="v.ssh_key" property="sshKey" jdbcType="VARCHAR" />
			<result column="v.access_token" property="accessToken" jdbcType="VARCHAR" />
			<result column="v.username" property="username" jdbcType="VARCHAR" />
			<result column="v.password" property="password" jdbcType="VARCHAR" />
			<result column="v.remark" property="remark" jdbcType="VARCHAR" />
			<result column="v.enable" property="enable" jdbcType="INTEGER" />
			<result column="v.del_flag" property="delFlag" jdbcType="INTEGER" />
			<result column="v.create_date" property="createDate" jdbcType="TIMESTAMP" />
			<result column="v.create_by" property="createBy" jdbcType="VARCHAR" />
			<result column="v.update_date" property="updateDate" jdbcType="TIMESTAMP" />
			<result column="v.update_by" property="updateBy" jdbcType="VARCHAR" />
		</association>

	</resultMap>
	<sql id="Base_Column_List">
		id, project_name, organization_code, vcs_id, http_url,ssh_url, git_info, app_cluster_id, lock_status,is_boot,
		remark, del_flag, create_date, create_by, update_date, update_by
	</sql>
	<sql id="Base_Column_List_p">
		p.id, p.project_name, p.organization_code, p.vcs_id, p.http_url,p.ssh_url, p.git_info, p.app_cluster_id, p.lock_status,p.is_boot,
		p.remark, p.del_flag, p.create_date, p.create_by, p.update_date, p.update_by
	</sql>

	<sql id="vcs_alias">
		v.id as "v.id",v.name as "v.name",v.provider_kind as "v.provider_kind", v.auth_type as "v.auth_type", v.base_uri as "v.base_uri",
		v.ssh_key_pub as "v.ssh_key_pub", v.ssh_key as "v.ssh_key",
		v.access_token as "v.access_token", v.username as "v.username", v.password as "v.password",
		v.remark as "v.remark", v.enable as "v.enable", v.del_flag as "v.del_flag", v.create_date as "v.create_date", v.create_by as
		"v.create_by", v.update_date as "v.update_date", v.update_by as "v.update_by"
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_p" />
		,
		<include refid="vcs_alias" />
		from ci_project p
		left join ci_vcs v on v.id = p.vcs_id
		where p.id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_project
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.Project">
		insert into ci_project (id, project_name, organization_code, vcs_id,http_url,ssh_url, git_info
		app_cluster_id,
		lock_status, is_boot, remark, del_flag,
		create_date, create_by, update_date,
		update_by)
		values (#{id,jdbcType=BIGINT},
		#{vcs_id,jdbcType=BIGINT},#{projectName,jdbcType=VARCHAR},#{organizationCode,jdbcType=VARCHAR},#{httpUrl,jdbcType=VARCHAR},#{sshUrl,jdbcType=VARCHAR},#{gitInfo,jdbcType=VARCHAR},
		#{appClusterId,jdbcType=BIGINT},
		#{lockStatus,jdbcType=INTEGER},#{isBoot,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER},
		#{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.Project" useGeneratedKeys="true"
		keyProperty="id">
		insert into ci_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="vcsId != null">
				vcs_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="organizationCode != null">
				organization_code,
			</if>
			<if test="httpUrl != null">
				http_url,
			</if>
			<if test="sshUrl != null">
				ssh_url,
			</if>
			<if test="gitInfo != null">
				git_info,
			</if>
			<if test="appClusterId != null">
				app_cluster_id,
			</if>
			<if test="lockStatus != null">
				lock_status,
			</if>
			<if test="isBoot != null">
				is_boot,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="vcsId != null">
				#{vcsId,jdbcType=BIGINT},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				#{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="httpUrl != null">
				#{httpUrl,jdbcType=VARCHAR},
			</if>
			<if test="sshUrl != null">
				#{sshUrl,jdbcType=VARCHAR},
			</if>
			<if test="gitInfo != null">
				#{gitInfo,jdbcType=VARCHAR},
			</if>
			<if test="appClusterId != null">
				#{appClusterId,jdbcType=BIGINT},
			</if>
			<if test="lockStatus != null">
				#{lockStatus,jdbcType=INTEGER},
			</if>
			<if test="isBoot != null">
				#{isBoot,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.Project">
		update ci_project
		<set>
			<if test="vcsId != null">
				vcs_id = #{vcsId,jdbcType=BIGINT},
			</if>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null">
				organization_code = #{organizationCode,jdbcType=VARCHAR},
			</if>
			<if test="httpUrl != null">
				http_url = #{httpUrl,jdbcType=VARCHAR},
			</if>
			<if test="sshUrl != null">
				ssh_url = #{sshUrl,jdbcType=VARCHAR},
			</if>
			<if test="gitInfo != null">
				git_info = #{gitInfo,jdbcType=VARCHAR},
			</if>
			<if test="appClusterId != null">
				app_cluster_id = #{appClusterId,jdbcType=BIGINT},
			</if>
			<if test="lockStatus != null">
				lock_status = #{lockStatus,jdbcType=INTEGER},
			</if>
			<if test="isBoot != null">
				is_boot = #{isBoot,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.Project">
		update ci_project
		set
		vcs_id = #{vcsId,jdbcType=BIGINT},
		project_name = #{projectName,jdbcType=VARCHAR},
		organization_code = #{organizationCode,jdbcType=VARCHAR},
		http_url = #{httpUrl,jdbcType=VARCHAR},
		ssh_url = #{sshUrl,jdbcType=VARCHAR},
		git_info = #{gitInfo,jdbcType=VARCHAR},
		app_cluster_id = #{appClusterId,jdbcType=BIGINT},
		lock_status = #{lockStatus,jdbcType=INTEGER},
		is_boot = #{isBoot,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>


	<select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_p" />
		,
		<include refid="vcs_alias" />
		,g.name as group_name
		from ci_project p
		left join erm_app_cluster g on p.app_cluster_id=g.id
		left join ci_vcs v on v.id=p.vcs_id
		where p.del_flag!=1
		<if test="groupName != null and groupName != ''">
			AND g.name LIKE CONCAT('%','${groupName}','%')
		</if>
		<if test="projectName != null and projectName != ''">
			AND p.project_name LIKE CONCAT('%','${projectName}','%')
		</if>
		<if test="isBoot != null">
			AND p.is_boot = #{isBoot,jdbcType=INTEGER}
		</if>
		<if test="organizationCodes != null and organizationCodes.size() > 0">
			and p.organization_code in
			<foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
				#{organizationCode}
			</foreach>
		</if>
	</select>

	<select id="getByProjectName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_p" />
		,
		<include refid="vcs_alias" />
		from ci_project p
		left join ci_vcs v on v.id=p.vcs_id
		where p.del_flag!=1 and p.project_name = #{projectName,jdbcType=VARCHAR}
	</select>

	<select id="getByAppClusterId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_p" />
		,
		<include refid="vcs_alias" />
		from ci_project p
		left join ci_vcs v on v.id=p.vcs_id
		where p.app_cluster_id = #{appClusterId,jdbcType=BIGINT} and p.del_flag!=1 limit 1
	</select>
</mapper>