<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.iam.GroupRoleDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.iam.GroupRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, role_id, create_by, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_group_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectGroupIdByRoleId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    gr.group_id
    from sys_group_role gr left join sys_group g on g.id = gr.group_id
    where gr.role_id = #{roleId,jdbcType=INTEGER} and g.del_flag != 1
  </select>

  <select id="selectRoleIdsByGroupId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    role_id
    from sys_group_role
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_group_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from sys_group_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByGroupId" parameterType="java.lang.Integer" >
    delete from sys_group_role
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.wl4g.devops.common.bean.iam.GroupRole" >
    insert into sys_group_role (id, group_id, role_id, 
      create_by, create_date)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertBatch" parameterType="java.util.Map">
    insert into sys_group_role (id, group_id, role_id,create_by, create_date)
    VALUES
    <foreach collection="groupRoles" item="groupRole" separator=",">
      (#{groupRole.id,jdbcType=INTEGER}, #{groupRole.groupId,jdbcType=INTEGER}, #{groupRole.roleId,jdbcType=INTEGER},
      #{groupRole.createBy,jdbcType=INTEGER}, #{groupRole.createDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.iam.GroupRole" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_group_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.iam.GroupRole" >
    update sys_group_role
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.iam.GroupRole" >
    update sys_group_role
    set group_id = #{groupId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>