<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.iam.UserDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.iam.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="wechat_open_id" property="wechatOpenId" jdbcType="VARCHAR" />
    <result column="wechat_union_id" property="wechatUnionId" jdbcType="VARCHAR" />
    <result column="facebook_id" property="facebookId" jdbcType="VARCHAR" />
    <result column="google_id" property="googleId" jdbcType="VARCHAR" />
    <result column="twitter_id" property="twitterId" jdbcType="VARCHAR" />
    <result column="linkedin_id" property="linkedinId" jdbcType="VARCHAR" />
    <result column="alipay_id" property="alipayId" jdbcType="VARCHAR" />
    <result column="github_id" property="githubId" jdbcType="VARCHAR" />
    <result column="aws_id" property="awsId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, display_name, password, user_type, enable, status, email,
    phone, wechat_open_id, wechat_union_id, facebook_id, google_id, twitter_id, linkedin_id, 
    alipay_id, github_id, aws_id, remark, create_by, create_date, update_by, update_date, 
    del_flag
  </sql>
  <sql id="Base_Column_List_u" >
    u.id, u.user_name, u.display_name, u.password, u.user_type, u.enable, u.status, u.email,
    u.phone, u.wechat_open_id, u.wechat_union_id, u.facebook_id, u.google_id, u.twitter_id, u.linkedin_id,
    u.alipay_id, u.github_id, u.aws_id, u.remark, u.create_by, u.create_date, u.update_by, u.update_date,
    u.del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where del_flag!=1 and user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="selectByUnionIdOrOpenId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where del_flag!=1 and (wechat_union_id = #{unionId,jdbcType=VARCHAR} or wechat_open_id = #{openId,jdbcType=VARCHAR})
  </select>



  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_u" />
    from sys_user u
    where u.del_flag!=1 and u.user_name!='root'
    <if test="userName != null and userName !='' ">
      AND u.user_name LIKE CONCAT('%','${userName}','%')
    </if>
    <if test="displayName != null and displayName !='' ">
      AND u.display_name LIKE CONCAT('%','${displayName}','%')
    </if>
    <if test="userId != null">
      and exists(select 1 from sys_group_user gu inner join sys_group_user sgu on gu.group_id = sgu.group_id where u.id=gu.user_id and sgu.user_id=#{userId,jdbcType=INTEGER})
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.iam.User" >
    insert into sys_user (id, user_name,
      display_name, password, user_type, 
      enable, status, email, 
      phone, wechat_open_id, wechat_union_id, 
      facebook_id, google_id, twitter_id, 
      linkedin_id, alipay_id, github_id, 
      aws_id, remark, create_by, 
      create_date, update_by, update_date, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
      #{displayName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{enable,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{wechatOpenId,jdbcType=VARCHAR}, #{wechatUnionId,jdbcType=VARCHAR}, 
      #{facebookId,jdbcType=VARCHAR}, #{googleId,jdbcType=VARCHAR}, #{twitterId,jdbcType=VARCHAR}, 
      #{linkedinId,jdbcType=VARCHAR}, #{alipayId,jdbcType=VARCHAR}, #{githubId,jdbcType=VARCHAR}, 
      #{awsId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.iam.User" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="wechatOpenId != null" >
        wechat_open_id,
      </if>
      <if test="wechatUnionId != null" >
        wechat_union_id,
      </if>
      <if test="facebookId != null" >
        facebook_id,
      </if>
      <if test="googleId != null" >
        google_id,
      </if>
      <if test="twitterId != null" >
        twitter_id,
      </if>
      <if test="linkedinId != null" >
        linkedin_id,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="githubId != null" >
        github_id,
      </if>
      <if test="awsId != null" >
        aws_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenId != null" >
        #{wechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wechatUnionId != null" >
        #{wechatUnionId,jdbcType=VARCHAR},
      </if>
      <if test="facebookId != null" >
        #{facebookId,jdbcType=VARCHAR},
      </if>
      <if test="googleId != null" >
        #{googleId,jdbcType=VARCHAR},
      </if>
      <if test="twitterId != null" >
        #{twitterId,jdbcType=VARCHAR},
      </if>
      <if test="linkedinId != null" >
        #{linkedinId,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="githubId != null" >
        #{githubId,jdbcType=VARCHAR},
      </if>
      <if test="awsId != null" >
        #{awsId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.iam.User" >
    update sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenId != null" >
        wechat_open_id = #{wechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wechatUnionId != null" >
        wechat_union_id = #{wechatUnionId,jdbcType=VARCHAR},
      </if>
      <if test="facebookId != null" >
        facebook_id = #{facebookId,jdbcType=VARCHAR},
      </if>
      <if test="googleId != null" >
        google_id = #{googleId,jdbcType=VARCHAR},
      </if>
      <if test="twitterId != null" >
        twitter_id = #{twitterId,jdbcType=VARCHAR},
      </if>
      <if test="linkedinId != null" >
        linkedin_id = #{linkedinId,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        alipay_id = #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="githubId != null" >
        github_id = #{githubId,jdbcType=VARCHAR},
      </if>
      <if test="awsId != null" >
        aws_id = #{awsId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.iam.User" >
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wechat_open_id = #{wechatOpenId,jdbcType=VARCHAR},
      wechat_union_id = #{wechatUnionId,jdbcType=VARCHAR},
      facebook_id = #{facebookId,jdbcType=VARCHAR},
      google_id = #{googleId,jdbcType=VARCHAR},
      twitter_id = #{twitterId,jdbcType=VARCHAR},
      linkedin_id = #{linkedinId,jdbcType=VARCHAR},
      alipay_id = #{alipayId,jdbcType=VARCHAR},
      github_id = #{githubId,jdbcType=VARCHAR},
      aws_id = #{awsId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>