<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.ci.PipeStepBuildingDao">
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.PipeStepBuilding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
    <result column="pre_command" jdbcType="VARCHAR" property="preCommand" />
    <result column="post_command" jdbcType="VARCHAR" property="postCommand" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pipe_id, pre_command, post_command
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ci_pipe_step_building
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ci_pipe_step_building
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.PipeStepBuilding">
    insert into ci_pipe_step_building (id, pipe_id, pre_command, 
      post_command)
    values (#{id,jdbcType=INTEGER}, #{pipeId,jdbcType=INTEGER}, #{preCommand,jdbcType=VARCHAR}, 
      #{postCommand,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.PipeStepBuilding">
    insert into ci_pipe_step_building
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pipeId != null">
        pipe_id,
      </if>
      <if test="preCommand != null">
        pre_command,
      </if>
      <if test="postCommand != null">
        post_command,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pipeId != null">
        #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="preCommand != null">
        #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null">
        #{postCommand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.PipeStepBuilding">
    update ci_pipe_step_building
    <set>
      <if test="pipeId != null">
        pipe_id = #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="preCommand != null">
        pre_command = #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null">
        post_command = #{postCommand,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.PipeStepBuilding">
    update ci_pipe_step_building
    set pipe_id = #{pipeId,jdbcType=INTEGER},
      pre_command = #{preCommand,jdbcType=VARCHAR},
      post_command = #{postCommand,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>