<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="app_cluster_id" property="appClusterId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="provider_kind" property="providerKind" jdbcType="VARCHAR" />
    <result column="branch_type" property="branchType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="pcm_id" property="pcmId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="build_command" property="buildCommand" jdbcType="LONGVARCHAR" />
    <result column="pre_command" property="preCommand" jdbcType="LONGVARCHAR" />
    <result column="post_command" property="postCommand" jdbcType="LONGVARCHAR" />
    <result column="contact_group_id" property="contactGroupId" jdbcType="INTEGER" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="parent_app_home" property="parentAppHome" jdbcType="VARCHAR" />
    <result column="assets_path" property="assetsPath" jdbcType="VARCHAR" />

    <!-- other -->
    <result column="group_name" property="groupName" jdbcType="LONGVARCHAR" />

    <collection property="instances" javaType="list" ofType="com.wl4g.devops.common.bean.erm.AppInstance">
      <result column="i.id" property="id" jdbcType="INTEGER" />
      <result column="i.hostname" property="hostname" jdbcType="VARCHAR" />
      <result column="i.endpoint" property="endpoint" jdbcType="INTEGER" />
      <result column="i.remark" property="remark" jdbcType="VARCHAR" />
    </collection>

  </resultMap>

  <sql id="Base_Column_List" >
    id, task_name, app_cluster_id, project_id, branch_name, provider_kind, branch_type, remark,
    enable,pcm_id, del_flag, create_date, create_by, update_date, update_by,build_command,pre_command, post_command,contact_group_id,env_type,parent_app_home,assets_path
  </sql>

  <sql id="InstanceColumn">
		,i.id as "i.id",
		h.`hostname` as "i.hostname",
		i.remark as "i.remark"
	</sql>

  <sql id="Base_Column_List_t" >
    t.id, t.task_name, t.app_cluster_id, t.project_id, t.branch_name, t.provider_kind, t.branch_type, t.remark,
    t.enable,t.pcm_id, t.del_flag, t.create_date, t.create_by, t.update_date, t.update_by,t.build_command,t.pre_command, t.post_command,t.contact_group_id,t.env_type,
    t.parent_app_home,t.assets_path
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ci_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.Task" >
    insert into ci_task (id, task_name, app_cluster_id,
      project_id, branch_name, provider_kind,
      branch_type, remark, enable, pcm_id,
      del_flag, create_date, create_by,
      update_date, update_by, build_command,pre_command,
      post_command,contact_group_id,env_type,parent_app_home,assets_path)
    values (#{id,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, #{appClusterId,jdbcType=INTEGER},
      #{projectId,jdbcType=INTEGER}, #{branchName,jdbcType=VARCHAR}, #{providerKind,jdbcType=VARCHAR},
      #{branchType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{pcmId,jdbcType=INTEGER}
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{buildCommand,jdbcType=LONGVARCHAR},#{preCommand,jdbcType=LONGVARCHAR},
      #{postCommand,jdbcType=LONGVARCHAR},#{contactGroupId,jdbcType=INTEGER},#{envType,jdbcType=VARCHAR},#{parentAppHome,jdbcType=VARCHAR},#{assetsPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.Task" useGeneratedKeys="true" keyProperty="id" >
    insert into ci_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="appClusterId != null" >
        app_cluster_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="providerKind != null" >
        provider_kind,
      </if>
      <if test="branchType != null" >
        branch_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="pcmId != null" >
        pcm_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="buildCommand != null" >
        build_command,
      </if>
      <if test="preCommand != null" >
        pre_command,
      </if>
      <if test="postCommand != null" >
        post_command,
      </if>
      <if test="contactGroupId != null" >
        contact_group_id,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="parentAppHome != null" >
        parent_app_home,
      </if>
      <if test="assetsPath != null" >
        assets_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="appClusterId != null" >
        #{appClusterId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="providerKind != null" >
        #{providerKind,jdbcType=VARCHAR},
      </if>
      <if test="branchType != null" >
        #{branchType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="pcmId != null" >
        #{pcmId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="buildCommand != null" >
        #{buildCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="preCommand != null" >
        #{preCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="postCommand != null" >
        #{postCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null" >
        #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="assetsPath != null" >
        #{assetsPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.Task" >
    update ci_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="appClusterId != null" >
        app_cluster_id = #{appClusterId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="providerKind != null" >
        provider_kind = #{providerKind,jdbcType=VARCHAR},
      </if>
      <if test="branchType != null" >
        branch_type = #{branchType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="pcmId != null" >
        pcm_id = #{pcmId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="buildCommand != null" >
        build_command = #{buildCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="preCommand != null" >
        pre_command = #{preCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="postCommand != null" >
        post_command = #{postCommand,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null" >
        parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="assetsPath != null" >
        assets_path = #{assetsPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wl4g.devops.common.bean.ci.Task" >
    update ci_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      app_cluster_id = #{appClusterId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      provider_kind = #{providerKind,jdbcType=VARCHAR},
      branch_type = #{branchType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      pcm_id = #{pcmId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      build_command = #{buildCommand,jdbcType=LONGVARCHAR},
      pre_command = #{preCommand,jdbcType=LONGVARCHAR},
      post_command = #{postCommand,jdbcType=LONGVARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      assets_path = #{assetsPath,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.Task" >
    update ci_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      app_cluster_id = #{appClusterId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      provider_kind = #{providerKind,jdbcType=VARCHAR},
      branch_type = #{branchType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      pcm_id = #{pcmId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      assets_path = #{assetsPath,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_t" />
    <include refid="InstanceColumn" />

    ,g.name group_name
    from ci_task t
    left join app_cluster g on t.app_cluster_id=g.id
    left join ci_task_instance td on td.task_id=t.id
    left join erm_app_instance i on i.id=td.instance_id
    left join app_host h on h.id=i.host_id
    where t.del_flag!=1
    <if test="id != null and id != ''" >
      AND t.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="envType != null and envType != ''" >
      AND t.env_type = #{envType,jdbcType=INTEGER}
    </if>
    <if test="taskName != null and taskName != ''" >
      AND t.task_name LIKE CONCAT('%','${taskName}','%')
    </if>
    <if test="groupName != null and groupName != ''" >
      AND g.name LIKE CONCAT('%','${groupName}','%')
    </if>
    <if test="branchName != null and branchName != ''" >
      AND t.branch_name LIKE CONCAT('%','${branchName}','%')
    </if>
    <if test="providerKind != null and providerKind != ''" >
      AND t.provider_kind = #{providerKind,jdbcType=VARCHAR}
    </if>
    <if test="startDate!=null and startDate!='' and endDate!='' and endDate !=null">
      AND DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
      AND DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
    </if>

    order by t.create_date desc
  </select>


  <select id="selectByAppClusterId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ci_task
    where app_cluster_id = #{appClusterId,jdbcType=INTEGER}
  </select>

</mapper>