<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskHistoryDetailDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="instance_id" property="instanceId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <!-- ohter -->
    <result column="remark" property="instanceName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" extends="BaseResultMap" >
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, instance_id, status, create_date
  </sql>
  <sql id="Blob_Column_List" >
    result
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ci_task_history_instance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_task_history_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    insert into ci_task_history_instance (id, task_id, instance_id,
      status, create_date)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{instanceId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{result,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    insert into ci_task_history_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    update ci_task_history_instance
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    update ci_task_history_instances
    set task_id = #{taskId,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.TaskHistoryInstance" >
    update ci_task_history_instance
    set task_id = #{taskId,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getDetailByTaskId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    d.*,i.remark
    from ci_task_history_instance d
    left join app_instance i on d.instance_id=i.id
    where task_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>