<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskSignDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.TaskSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="dependency_id" property="dependencyId" jdbcType="INTEGER" />
    <result column="sha_git" property="shaGit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, dependency_id, sha_git
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ci_task_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_task_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.TaskSign" >
    insert into ci_task_sign (id, task_id, dependency_id,
      sha_git)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{dependencyId,jdbcType=INTEGER},
      #{shaGit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.TaskSign" >
    insert into ci_task_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="dependencyId != null" >
        dependency_id,
      </if>
      <if test="shaGit != null" >
        sha_git,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="dependencyId != null" >
        #{dependencyId,jdbcType=INTEGER},
      </if>
      <if test="shaGit != null" >
        #{shaGit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.TaskSign" >
    update ci_task_sign
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="dependencyId != null" >
        dependency_id = #{dependencyId,jdbcType=INTEGER},
      </if>
      <if test="shaGit != null" >
        sha_git = #{shaGit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.TaskSign" >
    update ci_task_sign
    set task_id = #{taskId,jdbcType=INTEGER},
      dependency_id = #{dependencyId,jdbcType=INTEGER},
      sha_git = #{shaGit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByDependencyIdAndTaskId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from ci_task_sign
    where dependency_id = #{dependencyId,jdbcType=INTEGER} and task_id=#{taskId,jdbcType=INTEGER}
  </select>

</mapper>