<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskHistoryDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.TaskHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="sha_git" property="shaGit" jdbcType="VARCHAR" />
    <result column="sha_local" property="shaLocal" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="INTEGER" />
    <result column="provider_kind" property="providerKind" jdbcType="VARCHAR" />
    <result column="branch_type" property="branchType" jdbcType="VARCHAR" />
    <result column="build_command" property="buildCommand" jdbcType="VARCHAR" />
    <result column="pre_command" property="preCommand" jdbcType="VARCHAR" />
    <result column="post_command" property="postCommand" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="contact_group_id" property="contactGroupId" jdbcType="INTEGER" />
    <result column="track_id" property="trackId" jdbcType="VARCHAR" />
    <result column="track_type" property="trackType" jdbcType="INTEGER" />
    <result column="cost_time" property="costTime" jdbcType="BIGINT" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="annex" property="annex" jdbcType="VARCHAR" />
    <result column="parent_app_home" property="parentAppHome" jdbcType="VARCHAR" />
    <result column="assets_path" property="assetsPath" jdbcType="VARCHAR" />

    <!-- other  -->
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="name" property="groupName" jdbcType="VARCHAR" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wl4g.devops.common.bean.ci.TaskHistory" extends="BaseResultMap" >
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, project_id, status, branch_name, sha_git,sha_local, ref_id,provider_kind, branch_type ,build_command,pre_command,post_command, remark, del_flag, create_date,
    create_by, update_date, update_by,result,contact_group_id,track_id,track_type,cost_time,env_type,annex,parent_app_home,assets_path
  </sql>
  <sql id="Base_Column_List_t" >
    t.id, t.type, t.project_id, t.status, t.branch_name, t.sha_git,t.sha_local, t.ref_id,t.provider_kind, t.branch_type, t.build_command,t.pre_command,t.post_command, t.remark, t.del_flag, t.create_date,
    t.create_by, t.update_date, t.update_by,t.result,t.contact_group_id,t.track_id,t.track_type,t.cost_time,t.env_type,t.annex,t.parent_app_home,t.assets_path
  </sql>
  <sql id="Blob_Column_List" >
    result
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ci_task_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_task_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    insert into ci_task_history (id, type, project_id,
      status, branch_name, sha_git,sha_local,
      ref_id, provider_kind, branch_type, build_command,pre_command,post_command,remark, del_flag,
      create_date, create_by, update_date, 
      update_by, result,contact_group_id,track_id,track_type,cost_time,env_type,annex,parent_app_home,assets_path)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{branchName,jdbcType=VARCHAR}, #{shaGit,jdbcType=VARCHAR},#{shaLocal,jdbcType=VARCHAR},
      #{refId,jdbcType=INTEGER},#{providerKind,jdbcType=VARCHAR}, #{branchType,jdbcType=VARCHAR}, #{buildCommand,jdbcType=VARCHAR},#{preCommand,jdbcType=VARCHAR},
      #{postCommand,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER},
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{result,jdbcType=LONGVARCHAR}, #{contactGroupId,jdbcType=INTEGER},
      #{trackId,jdbcType=VARCHAR},#{trackType,jdbcType=INTEGER},#{costTime,jdbcType=BIGINT},#{envType,jdbcType=VARCHAR},
      #{annex,jdbcType=VARCHAR},#{parentAppHome,jdbcType=VARCHAR},#{assetsPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" useGeneratedKeys="true" keyProperty="id">
    insert into ci_task_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="shaGit != null" >
        sha_git,
      </if>
      <if test="shaLocal != null" >
        sha_local,
      </if>
      <if test="refId != null" >
        ref_id,
      </if>
      <if test="providerKind != null" >
        provider_kind,
      </if>
      <if test="branchType != null" >
        branch_type,
      </if>
      <if test="buildCommand != null" >
        build_command,
      </if>
      <if test="preCommand != null" >
        pre_command,
      </if>
      <if test="postCommand != null" >
        post_command,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="contactGroupId != null" >
        contact_group_id,
      </if>
      <if test="trackId != null" >
        track_id,
      </if>
      <if test="trackType != null" >
        track_type,
      </if>
      <if test="costTime != null" >
        cost_time,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="annex != null" >
        annex,
      </if>
      <if test="parentAppHome != null" >
        parent_app_home,
      </if>
      <if test="assetsPath != null" >
        assets_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="shaGit != null" >
        #{shaGit,jdbcType=VARCHAR},
      </if>
      <if test="shaLocal != null" >
        #{shaLocal,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=INTEGER},
      </if>
      <if test="providerKind != null" >
        #{providerKind,jdbcType=VARCHAR},
      </if>
      <if test="branchType != null" >
        #{branchType,jdbcType=VARCHAR},
      </if>
      <if test="buildCommand != null" >
        #{buildCommand,jdbcType=VARCHAR},
      </if>
      <if test="preCommand != null" >
        #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null" >
        #{postCommand,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="trackId != null" >
        #{trackId,jdbcType=VARCHAR},
      </if>
      <if test="trackType != null" >
        #{trackType,jdbcType=INTEGER},
      </if>
      <if test="costTime != null" >
        #{costTime,jdbcType=BIGINT},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        #{annex,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null" >
        #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="assetsPath != null" >
        #{assetsPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="shaGit != null" >
        sha_git = #{shaGit,jdbcType=VARCHAR},
      </if>
      <if test="shaLocal != null" >
        sha_local = #{shaLocal,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        ref_id = #{refId,jdbcType=INTEGER},
      </if>
      <if test="providerKind != null" >
        provider_kind = #{providerKind,jdbcType=VARCHAR},
      </if>
      <if test="branchType != null" >
        branch_type = #{branchType,jdbcType=VARCHAR},
      </if>
      <if test="buildCommand != null" >
        build_command = #{buildCommand,jdbcType=VARCHAR},
      </if>
      <if test="preCommand != null" >
        pre_command = #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null" >
        post_command = #{postCommand,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="trackId != null" >
        track_id = #{trackId,jdbcType=VARCHAR},
      </if>
      <if test="trackType != null" >
        track_type = #{trackType,jdbcType=INTEGER},
      </if>
      <if test="costTime != null" >
        cost_time = #{costTime,jdbcType=BIGINT},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        annex = #{annex,jdbcType=VARCHAR},
      </if>
      <if test="parentAppHome != null" >
        parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      </if>
      <if test="assetsPath != null" >
        assets_path = #{assetsPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    set type = #{type,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      sha_git = #{shaGit,jdbcType=VARCHAR},
      sha_local = #{shaLocal,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      provider_kind = #{providerKind,jdbcType=VARCHAR},
      branch_type = #{branchType,jdbcType=VARCHAR},
      build_command = #{buildCommand,jdbcType=VARCHAR},
      pre_command = #{preCommand,jdbcType=VARCHAR},
      post_command = #{postCommand,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      result = #{result,jdbcType=LONGVARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      track_id = #{trackId,jdbcType=VARCHAR},
      track_type = #{trackType,jdbcType=INTEGER},
      cost_time = #{costTime,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      annex = #{annex,jdbcType=VARCHAR},
      parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      assets_path = #{assetsPath,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    set type = #{type,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      sha_git = #{shaGit,jdbcType=VARCHAR},
      sha_local = #{shaLocal,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      provider_kind = #{providerKind,jdbcType=VARCHAR},
      branch_type = #{branchType,jdbcType=VARCHAR},
      build_command = #{buildCommand,jdbcType=VARCHAR},
      pre_command = #{preCommand,jdbcType=VARCHAR},
      post_command = #{postCommand,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      result = #{result,jdbcType=LONGVARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      track_id = #{trackId,jdbcType=VARCHAR},
      track_type = #{trackType,jdbcType=INTEGER},
      cost_time = #{costTime,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      annex = #{annex,jdbcType=VARCHAR},
      parent_app_home = #{parentAppHome,jdbcType=VARCHAR},
      assets_path = #{assetsPath,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_t" />
    ,p.project_name,g.name,u.user_name create_by_name
    from ci_task_history t
    left join ci_project p on t.project_id=p.id
    left join app_cluster g on p.app_cluster_id=g.id
    left join sys_user u on u.id = t.create_by
    where t.del_flag!=1
    <if test="groupName != null and groupName != ''" >
      AND g.name LIKE CONCAT('%','${groupName}','%')
    </if>
    <if test="envType != null and envType != ''" >
      AND t.env_type = #{envType,jdbcType=INTEGER}
    </if>
    <if test="projectName != null and projectName != ''" >
      AND p.project_name LIKE CONCAT('%','${projectName}','%')
    </if>
    <if test="branchName != null and branchName != ''" >
      AND t.branch_name LIKE CONCAT('%','${branchName}','%')
    </if>
    <if test="startDate!=null and startDate!='' and endDate!='' and endDate !=null">
      AND DATE_FORMAT(t.create_date,'%Y-%m-%d %H:%i') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
      AND DATE_FORMAT(t.create_date,'%Y-%m-%d %H:%i') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
    </if>
    order by t.create_date desc
  </select>

  <update id="updateStatus" parameterType="java.lang.Long" >
    <![CDATA[
    update ci_task_history set status=4
    where status in(0,1)
    and TIMESTAMPDIFF(second ,create_date,now())>#{time,jdbcType=BIGINT};
    ]]>
  </update>


</mapper>