<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskHistoryDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.TaskHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="sha_git" property="shaGit" jdbcType="VARCHAR" />
    <result column="sha_local" property="shaLocal" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="INTEGER" />
    <result column="tar_type" property="tarType" jdbcType="INTEGER" />
    <result column="build_command" property="buildCommand" jdbcType="VARCHAR" />
    <result column="pre_command" property="preCommand" jdbcType="VARCHAR" />
    <result column="post_command" property="postCommand" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="contact_group_id" property="contactGroupId" jdbcType="INTEGER" />

    <!-- other  -->
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="name" property="groupName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wl4g.devops.common.bean.ci.TaskHistory" extends="BaseResultMap" >
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, project_id, status, branch_name, sha_git,sha_local, ref_id,tar_type,build_command,pre_command,post_command, remark, del_flag, create_date,
    create_by, update_date, update_by,result,contact_group_id
  </sql>
  <sql id="Base_Column_List_t" >
    t.id, t.type, t.project_id, t.status, t.branch_name, t.sha_git,t.sha_local, t.ref_id,t.tar_type,t.build_command,t.pre_command,t.post_command, t.remark, t.del_flag, t.create_date,
    t.create_by, t.update_date, t.update_by,t.result,t.contact_group_id
  </sql>
  <sql id="Blob_Column_List" >
    result
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ci_task_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_task_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    insert into ci_task_history (id, type, project_id,
      status, branch_name, sha_git,sha_local,
      ref_id, tar_type,build_command,pre_command,post_command,remark, del_flag,
      create_date, create_by, update_date, 
      update_by, result,contact_group_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{branchName,jdbcType=VARCHAR}, #{shaGit,jdbcType=VARCHAR},#{shaLocal,jdbcType=VARCHAR},
      #{refId,jdbcType=INTEGER},#{tarType,jdbcType=INTEGER},#{buildCommand,jdbcType=VARCHAR},#{preCommand,jdbcType=VARCHAR},#{postCommand,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{result,jdbcType=LONGVARCHAR}, #{contact_group_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" useGeneratedKeys="true" keyProperty="id">
    insert into ci_task_history
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="type != null" >
        type,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="shaGit != null" >
        sha_git,
      </if>
      <if test="shaLocal != null" >
        sha_local,
      </if>
      <if test="refId != null" >
        ref_id,
      </if>
      <if test="tarType != null" >
        tar_type,
      </if>
      <if test="buildCommand != null" >
        build_command,
      </if>
      <if test="preCommand != null" >
        pre_command,
      </if>
      <if test="postCommand != null" >
        post_command,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="contactGroupId != null" >
        contact_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="shaGit != null" >
        #{shaGit,jdbcType=VARCHAR},
      </if>
      <if test="shaLocal != null" >
        #{shaLocal,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=INTEGER},
      </if>
      <if test="tarType != null" >
        #{tarType,jdbcType=INTEGER},
      </if>
      <if test="buildCommand != null" >
        #{buildCommand,jdbcType=VARCHAR},
      </if>
      <if test="preCommand != null" >
        #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null" >
        #{postCommand,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        #{contactGroupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="shaGit != null" >
        sha_git = #{shaGit,jdbcType=VARCHAR},
      </if>
      <if test="shaLocal != null" >
        sha_local = #{shaLocal,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        ref_id = #{refId,jdbcType=INTEGER},
      </if>
      <if test="tarType != null" >
        tar_type = #{tarType,jdbcType=INTEGER},
      </if>
      <if test="buildCommand != null" >
        build_command = #{buildCommand,jdbcType=VARCHAR},
      </if>
      <if test="preCommand != null" >
        pre_command = #{preCommand,jdbcType=VARCHAR},
      </if>
      <if test="postCommand != null" >
        post_command = #{postCommand,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactGroupId != null" >
        contact_group_id = #{contactGroupId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    set type = #{type,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      sha_git = #{shaGit,jdbcType=VARCHAR},
      sha_local = #{shaLocal,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      tar_type = #{tarType,jdbcType=INTEGER},
      build_command = #{buildCommand,jdbcType=VARCHAR},
      pre_command = #{preCommand,jdbcType=VARCHAR},
      post_command = #{postCommand,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      result = #{result,jdbcType=LONGVARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.TaskHistory" >
    update ci_task_history
    set type = #{type,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      branch_name = #{branchName,jdbcType=VARCHAR},
      sha_git = #{shaGit,jdbcType=VARCHAR},
      sha_local = #{shaLocal,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=INTEGER},
      tar_type = #{tarType,jdbcType=INTEGER},
      build_command = #{buildCommand,jdbcType=VARCHAR},
      pre_command = #{preCommand,jdbcType=VARCHAR},
      post_command = #{postCommand,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      result = #{result,jdbcType=LONGVARCHAR},
      contact_group_id = #{contactGroupId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_t" />
    ,p.project_name,g.name
    from ci_task_history t
    left join ci_project p on t.project_id=p.id
    left join app_cluster g on p.app_cluster_id=g.id
    where t.del_flag!=1
    <if test="groupName != null and groupName != ''" >
      AND g.name LIKE CONCAT('%','${groupName}','%')
    </if>
    <if test="projectName != null and projectName != ''" >
      AND p.project_name LIKE CONCAT('%','${projectName}','%')
    </if>
    <if test="branchName != null and branchName != ''" >
      AND t.branch_name LIKE CONCAT('%','${branchName}','%')
    </if>
    order by t.create_date desc
  </select>

  <update id="updateStatus" parameterType="java.lang.Integer" >
    <![CDATA[
    update ci_task_history set status=4
    where status not in(2,3,4)
    and TIMESTAMPDIFF(second ,create_date,now())>#{time,jdbcType=INTEGER};
    ]]>
  </update>


</mapper>