<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TriggerDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.Trigger" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="cluster_id" property="appClusterId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="sha" property="sha" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, organization_code, cluster_id, task_id, type, cron, sha, remark, enable, del_flag, create_date,
    create_by, update_date, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ci_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.Trigger" >
    insert into ci_trigger (id, name, organization_code, cluster_id,
      task_id, type, cron, 
      sha, remark, enable, 
      del_flag, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR}, #{appClusterId,jdbcType=INTEGER},
      #{taskId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{cron,jdbcType=VARCHAR}, 
      #{sha,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.Trigger" useGeneratedKeys="true" keyProperty="id">
    insert into ci_trigger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="organizationCode != null" >
        organization_code,
      </if>
      <if test="appClusterId != null" >
        cluster_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="cron != null" >
        cron,
      </if>
      <if test="sha != null" >
        sha,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null" >
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="appClusterId != null" >
        #{appClusterId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cron != null" >
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="sha != null" >
        #{sha,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.Trigger" >
    update ci_trigger
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null" >
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="appClusterId != null" >
        cluster_id = #{appClusterId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cron != null" >
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="sha != null" >
        sha = #{sha,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.Trigger" >
    update ci_trigger
    set name = #{name,jdbcType=VARCHAR},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      cluster_id = #{appClusterId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      cron = #{cron,jdbcType=VARCHAR},
      sha = #{sha,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from ci_trigger
    where del_flag!=1

    <if test="id != null">
      AND id=#{id,jdbcType=INTEGER}
    </if>
    <if test="name != null and name != ''" >
      AND name LIKE CONCAT('%','${name}','%')
    </if>
    <if test="taskId != null" >
      AND task_id=#{taskId,jdbcType=INTEGER}
    </if>
    <if test="enable != null" >
      AND enable=#{enable,jdbcType=INTEGER}
    </if>
    <if test="startDate!=null and startDate!='' and endDate!='' and endDate !=null">
      AND DATE_FORMAT(create_date,'%Y-%m-%d %H:%i') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
      AND DATE_FORMAT(create_date,'%Y-%m-%d %H:%i') &lt; DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
    </if>
    <if test="organizationCodes != null and organizationCodes.size() > 0">
      and organization_code in
      <foreach collection="organizationCodes" item="organizationCode" index="index" open="(" close=")" separator=",">
        #{organizationCode}
      </foreach>
    </if>
  </select>

  <select id="getTriggerByAppClusterIdAndBranch" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    tr.*
    from ci_trigger tr
    left join ci_task ta on tr.task_id=ta.id
    where ta.cluster_id=#{appClusterId,jdbcType=INTEGER} and ta.branch_name=#{branchName,jdbcType=VARCHAR} limit 1
  </select>

  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from ci_trigger
    where del_flag!=1 and enable=1
    <if test="type != null and type != 0" >
      AND type = #{type,jdbcType=INTEGER}
    </if>
  </select>

</mapper>