<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TriggerDetailDao" >

  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.ci.TriggerDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trigger_id" property="triggerId" jdbcType="INTEGER" />
    <result column="instance_id" property="instanceId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trigger_id, instance_id, del_flag, create_date, create_by, update_date, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ci_trigger_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ci_trigger_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.ci.TriggerDetail" >
    insert into ci_trigger_detail (id, trigger_id, instance_id, 
      del_flag, create_date, create_by, 
      update_date, update_by)
    values (#{id,jdbcType=INTEGER}, #{triggerId,jdbcType=INTEGER}, #{instanceId,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.ci.TriggerDetail" >
    insert into ci_trigger_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="triggerId != null" >
        trigger_id,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="triggerId != null" >
        #{triggerId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.ci.TriggerDetail" >
    update ci_trigger_detail
    <set >
      <if test="triggerId != null" >
        trigger_id = #{triggerId,jdbcType=INTEGER},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.ci.TriggerDetail" >
    update ci_trigger_detail
    set trigger_id = #{triggerId,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByTriggerId" parameterType="java.lang.Integer" >
    delete from ci_trigger_detail
    where trigger_id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getDetailByTriggerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ci_trigger_detail
    where trigger_id = #{triggerId,jdbcType=INTEGER}
  </select>

  <select id="getUsedInstance" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select td.* from ci_trigger t
    left join ci_trigger_detail td on t.id=td.trigger_id
    where t.project_id=#{projectId,jdbcType=INTEGER}
    <if test="triggerId != null">
      and t.id !=#{triggerId,jdbcType=INTEGER}
    </if>

  </select>




</mapper>