<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.AppEnvironmentDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="run_command" property="runCommand" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, cluster_id, env_type, remark, create_by, create_date, update_by, update_date, 
    del_flag, organization_code,run_command
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from erm_app_environment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List"/>
    from erm_app_environment
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </select>
  <select id="selectByClusterIdAndEnv" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List"/>
    from erm_app_environment
    where cluster_id = #{clusterId,jdbcType=INTEGER}
    and env_type = #{envType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from erm_app_environment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByClusterId" parameterType="java.lang.Integer" >
    delete from erm_app_environment
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    insert into erm_app_environment (id, cluster_id, env_type, 
      remark, create_by, create_date, 
      update_by, update_date, del_flag, 
      organization_code, run_command)
    values (#{id,jdbcType=INTEGER}, #{clusterId,jdbcType=INTEGER}, #{envType,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, 
      #{organizationCode,jdbcType=VARCHAR}, #{runCommand,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.Map">
    insert into erm_app_environment (id, cluster_id, env_type,
    remark, create_by, create_date,
    update_by, update_date, del_flag,
    organization_code, run_command)
    VALUES
    <foreach collection="environments" item="environment" separator=",">
      (#{environment.id,jdbcType=INTEGER}, #{environment.clusterId,jdbcType=INTEGER}, #{environment.envType,jdbcType=VARCHAR},
      #{environment.remark,jdbcType=VARCHAR}, #{environment.createBy,jdbcType=INTEGER}, #{environment.createDate,jdbcType=TIMESTAMP},
      #{environment.updateBy,jdbcType=INTEGER}, #{environment.updateDate,jdbcType=TIMESTAMP}, #{environment.delFlag,jdbcType=INTEGER},
      #{environment.organizationCode,jdbcType=VARCHAR}, #{environment.runCommand,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    insert into erm_app_environment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clusterId != null" >
        cluster_id,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="organizationCode != null" >
        organization_code,
      </if>
      <if test="runCommand != null" >
        run_command,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clusterId != null" >
        #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="organizationCode != null" >
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="runCommand != null" >
        #{runCommand,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    update erm_app_environment
    <set >
      <if test="clusterId != null" >
        cluster_id = #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="organizationCode != null" >
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="runCommand != null" >
        run_command = #{runCommand,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    update erm_app_environment
    set cluster_id = #{clusterId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      run_command = #{runCommand,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.erm.AppEnvironment" >
    update erm_app_environment
    set cluster_id = #{clusterId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      organization_code = #{organizationCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>