<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.AppHostNetcardDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.erm.AppHostNetcard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="host_id" property="hostId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="ipv4" property="ipv4" jdbcType="VARCHAR" />
    <result column="ipv6" property="ipv6" jdbcType="VARCHAR" />
    <result column="hwaddr" property="hwaddr" jdbcType="VARCHAR" />
    <result column="netmask" property="netmask" jdbcType="VARCHAR" />
    <result column="broadcast" property="broadcast" jdbcType="VARCHAR" />
    <result column="getway" property="getway" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, host_id, name, status, ipv4, ipv6, hwaddr, netmask, broadcast, getway, create_date, 
    create_by, update_date, update_by, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_host_netcard
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_host_netcard
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.erm.AppHostNetcard" >
    insert into app_host_netcard (id, host_id, name, 
      status, ipv4, ipv6, 
      hwaddr, netmask, broadcast, 
      getway, create_date, create_by, 
      update_date, update_by, del_flag
      )
    values (#{id,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{ipv4,jdbcType=VARCHAR}, #{ipv6,jdbcType=VARCHAR}, 
      #{hwaddr,jdbcType=VARCHAR}, #{netmask,jdbcType=VARCHAR}, #{broadcast,jdbcType=VARCHAR}, 
      #{getway,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.erm.AppHostNetcard" useGeneratedKeys="true" keyProperty="id">
    insert into app_host_netcard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ipv4 != null" >
        ipv4,
      </if>
      <if test="ipv6 != null" >
        ipv6,
      </if>
      <if test="hwaddr != null" >
        hwaddr,
      </if>
      <if test="netmask != null" >
        netmask,
      </if>
      <if test="broadcast != null" >
        broadcast,
      </if>
      <if test="getway != null" >
        getway,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ipv4 != null" >
        #{ipv4,jdbcType=VARCHAR},
      </if>
      <if test="ipv6 != null" >
        #{ipv6,jdbcType=VARCHAR},
      </if>
      <if test="hwaddr != null" >
        #{hwaddr,jdbcType=VARCHAR},
      </if>
      <if test="netmask != null" >
        #{netmask,jdbcType=VARCHAR},
      </if>
      <if test="broadcast != null" >
        #{broadcast,jdbcType=VARCHAR},
      </if>
      <if test="getway != null" >
        #{getway,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.erm.AppHostNetcard" >
    update app_host_netcard
    <set >
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="ipv4 != null" >
        ipv4 = #{ipv4,jdbcType=VARCHAR},
      </if>
      <if test="ipv6 != null" >
        ipv6 = #{ipv6,jdbcType=VARCHAR},
      </if>
      <if test="hwaddr != null" >
        hwaddr = #{hwaddr,jdbcType=VARCHAR},
      </if>
      <if test="netmask != null" >
        netmask = #{netmask,jdbcType=VARCHAR},
      </if>
      <if test="broadcast != null" >
        broadcast = #{broadcast,jdbcType=VARCHAR},
      </if>
      <if test="getway != null" >
        getway = #{getway,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.erm.AppHostNetcard" >
    update app_host_netcard
    set host_id = #{hostId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      ipv4 = #{ipv4,jdbcType=VARCHAR},
      ipv6 = #{ipv6,jdbcType=VARCHAR},
      hwaddr = #{hwaddr,jdbcType=VARCHAR},
      netmask = #{netmask,jdbcType=VARCHAR},
      broadcast = #{broadcast,jdbcType=VARCHAR},
      getway = #{getway,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>