<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.ClusterConfigDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.erm.ClusterConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="view_extranet_base_uri" property="viewExtranetBaseUri" jdbcType="VARCHAR" />
    <result column="extranet_base_uri" property="extranetBaseUri" jdbcType="VARCHAR" />
    <result column="intranet_base_uri" property="intranetBaseUri" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />

    <!--other-->
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cluster_id, display_name, type, env_type, view_extranet_base_uri, extranet_base_uri, 
    intranet_base_uri, remark, create_by, create_date, update_by, update_date, del_flag
  </sql>
  <sql id="Base_Column_List_a" >
    a.id, a.cluster_id, a.display_name, a.type, a.env_type, a.view_extranet_base_uri, a.extranet_base_uri,
    a.intranet_base_uri, a.remark, a.create_by, a.create_date, a.update_by, a.update_date, a.del_flag
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from erm_cluster_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from erm_cluster_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.erm.ClusterConfig" >
    insert into erm_cluster_config (id, cluster_id, display_name,
      type, env_type, view_extranet_base_uri, 
      extranet_base_uri, intranet_base_uri, remark, 
      create_by, create_date, update_by, 
      update_date, del_flag)
    values (#{id,jdbcType=INTEGER}, #{clusterId,jdbcType=INTEGER}, #{displayName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{envType,jdbcType=VARCHAR}, #{viewExtranetBaseUri,jdbcType=VARCHAR}, 
      #{extranetBaseUri,jdbcType=VARCHAR}, #{intranetBaseUri,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.erm.ClusterConfig" useGeneratedKeys="true" keyProperty="id">
    insert into erm_cluster_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clusterId != null" >
        cluster_id,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="viewExtranetBaseUri != null" >
        view_extranet_base_uri,
      </if>
      <if test="extranetBaseUri != null" >
        extranet_base_uri,
      </if>
      <if test="intranetBaseUri != null" >
        intranet_base_uri,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clusterId != null" >
        #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="viewExtranetBaseUri != null" >
        #{viewExtranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="extranetBaseUri != null" >
        #{extranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="intranetBaseUri != null" >
        #{intranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.erm.ClusterConfig" >
    update erm_cluster_config
    <set >
      <if test="clusterId != null" >
        cluster_id = #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="viewExtranetBaseUri != null" >
        view_extranet_base_uri = #{viewExtranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="extranetBaseUri != null" >
        extranet_base_uri = #{extranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="intranetBaseUri != null" >
        intranet_base_uri = #{intranetBaseUri,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.erm.ClusterConfig" >
    update erm_cluster_config
    set cluster_id = #{clusterId,jdbcType=INTEGER},
      display_name = #{displayName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      view_extranet_base_uri = #{viewExtranetBaseUri,jdbcType=VARCHAR},
      extranet_base_uri = #{extranetBaseUri,jdbcType=VARCHAR},
      intranet_base_uri = #{intranetBaseUri,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getByAppName" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List_a" />,c.name
    FROM
    erm_cluster_config a
    inner join erm_app_cluster c on a.cluster_id = c.id
    where c.name = #{appName,jdbcType=VARCHAR}

    <if test="envType != null and envType != ''">
      and a.env_type = #{envType,jdbcType=VARCHAR}
    </if>

    <if test="type != null and type != ''">
      and a.type = #{type,jdbcType=INTEGER}
    </if>
    limit 1
  </select>

  <select id="getIamServer"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List_a" />,c.name
    FROM
    erm_cluster_config a
    inner join erm_app_cluster c on a.cluster_id = c.id
    where a.type = 1
  </select>


  <!-- 批量获取应用信息 -->
  <select id="getByAppNames" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List_a" />,c.name
    FROM
    erm_cluster_config a
    inner join erm_app_cluster c on a.cluster_id = c.id
    <where>
      <if test="appNames != null and appNames.length > 0">
        c.name in
        <foreach collection="appNames" item="appName" index="index" open="(" close=")" separator=",">
          #{appName}
        </foreach>
      </if>

      <if test="envType != null and envType != ''">
        and a.env_type = #{envType,jdbcType=VARCHAR}
      </if>

      <if test="type != null and type != ''">
        and a.type = #{type,jdbcType=INTEGER}
      </if>

    </where>
  </select>


</mapper>