<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.erm.DockerInstanceDao">
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.erm.DockerInstance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="docker_id" jdbcType="INTEGER" property="dockerId" />
    <result column="host_id" jdbcType="INTEGER" property="hostId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, docker_id, host_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from erm_docker_instance
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectHostIdByDockerId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    host_id
    from erm_docker_instance
    where docker_id = #{dockerId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from erm_docker_instance
    where docker_id = #{dockerId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByDockerId" parameterType="java.lang.Integer">
    delete from erm_docker_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.wl4g.devops.common.bean.erm.DockerInstance">
    insert into erm_docker_instance (id, docker_id, host_id
      )
    values (#{id,jdbcType=INTEGER}, #{dockerId,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertBatch" parameterType="java.util.Map">
    insert into erm_docker_instance (id, docker_id, host_id)
    VALUES
    <foreach collection="dockerInstances" item="dockerInstance" separator=",">
      (#{dockerInstance.id,jdbcType=INTEGER}, #{dockerInstance.dockerId,jdbcType=INTEGER}, #{dockerInstance.hostId,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.erm.DockerInstance">
    insert into erm_docker_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dockerId != null">
        docker_id,
      </if>
      <if test="hostId != null">
        host_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dockerId != null">
        #{dockerId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null">
        #{hostId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.erm.DockerInstance">
    update erm_docker_instance
    <set>
      <if test="dockerId != null">
        docker_id = #{dockerId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null">
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.erm.DockerInstance">
    update erm_docker_instance
    set docker_id = #{dockerId,jdbcType=INTEGER},
      host_id = #{hostId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>