<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.erm.LogPipelineCleanerDao" >

  <delete id="cleanJobStatusTraceLog" parameterType="java.util.Map">
    delete from job_status_trace_log
    where
    <![CDATA[ creation_time <= #{creationTime} ]]>
  </delete>

  <delete id="cleanJobExecutionLog" parameterType="java.util.Map">
    delete from job_execution_log
    where
    <![CDATA[ start_time <= #{startTime} ]]>
  </delete>

  <delete id="cleanUmcAlarmRecordSublist" parameterType="java.util.Map">
    DELETE sys_notification_contact,umc_alarm_record_rule
    FROM umc_alarm_record
    LEFT JOIN sys_notification_contact ON umc_alarm_record.id=sys_notification_contact.record_id
    LEFT JOIN umc_alarm_record_rule ON umc_alarm_record.id=umc_alarm_record_rule.record_id
    WHERE
    <![CDATA[ umc_alarm_record.create_time <= #{createTime} ]]>
  </delete>

  <delete id="cleanUmcAlarmRecord" parameterType="java.util.Map">
    DELETE
    FROM umc_alarm_record
    WHERE
    <![CDATA[ umc_alarm_record.create_time <= #{createTime} ]]>
  </delete>


  <delete id="cleanCiTaskHistorySublist" parameterType="java.util.Map">
    DELETE ci_task_history_instance,ci_task_history_build_command
    FROM ci_task_history
    LEFT JOIN ci_task_history_instance ON ci_task_history.id=ci_task_history_instance.task_id
    LEFT JOIN ci_task_history_build_command ON ci_task_history.id=ci_task_history_build_command.task_id
    WHERE
    <![CDATA[ ci_task_history.create_date <= #{createDate} ]]>
  </delete>

  <delete id="cleanCiTaskHistory" parameterType="java.util.Map">
    DELETE FROM ci_task_history
    WHERE
    <![CDATA[ ci_task_history.create_date <= #{createDate} ]]>
  </delete>







</mapper>