target/
.settings/
.idea/
.project
*.iml

pom.properties
.mymetadata
.gradle
/local.properties
.DS_Store
/build
/captures
.classpath
bin/
logs/
.gradle/
build/
out/
*.ipr
*.iws
*.ids
.DS_Store
work/
.vagrant/
.idea/
thriftproto
*.pyc
rebel.xml
rebel-remote.xml/show-service/
classes
*.class
MANIFEST.MF
*.csv