target/
.settings/
.idea/
.project
*.iml

pom.properties
.mymetadata
.gradle
/local.properties
.DS_Store

/captures
.classpath
.gradle/
bin/
logs/
out/
*.log

*.ipr
.lck
*.iws
*.ids
.DS_Store
work/
.vagrant/
thriftproto
*.pyc
rebel.xml
rebel-remote.xml/show-service/
classes
*.class
MANIFEST.MF
*.csv
*.cache*
