.lanren {
	-webkit-transition: All 1s 0s;
	-moz-transition: All 1s 0s;
	-ms-transition: All 1s 0s;
}
.lanren ul {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	-moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	-ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}
@keyframes rollOne {
	from {
		right: 10vw;
		top: 40vh;
		opacity: 0;
	}
	to {
		right: 3vw;
		top: 42vh;
		opacity: 100%;
	}
}
@keyframes rollSecond {
	from {
		right: 15vw;
		top: 20vh;
		opacity: 0;
	}
	to {
		right: 8vw;
		top: 13vh;
		opacity: 100%;
	}
}
@keyframes rollThird {
	from {
		left: 8vw;
		top: 25vh;
		opacity: 0;
	}
	to {
		left: 8vw;
		top: 10vh;
		opacity: 100%;
	}
}

.lanren ul li {
	list-style: none;
	position: absolute;
}

.lanren ul:nth-of-type(1) li {
	animation: rollOne .5s 1.2s 1 both;
	-webkit-animation: rollOne .5s 1.2s 1 both;
}

.lanren ul:nth-of-type(2) li {
	animation: rollSecond .5s 1.5s 1 both;
	-webkit-animation: rollSecond .5s 1.5s 1 both;
}

.lanren ul:nth-of-type(3) li {
	animation: rollThird .5s 1.8s 1 both;
	-webkit-animation: rollThird .5s 1.8s 1 both;
}

.lanren ul:nth-of-type(1) li img {
	width: 120px;
}

.lanren ul:nth-of-type(2) li img {
	width: 150px;
}

.lanren ul:nth-of-type(3) li img {
	width: 120px;
}

.lanren li img {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.lanren ul li:nth-of-type(1) {
	-webkit-transition: All 1.2s 0s;
	-moz-transition: All 1.2s 0s;
	-ms-transition: All 1.2s 0s;
	transition: All 1.2s 0s;
	-webkit-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	-moz-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	-ms-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.lanren ul li:nth-of-type(1) img {
	-webkit-animation: z 5s linear 0s infinite;
	-moz-animation: z 5s linear 0s infinite;
	-ms-animation: z 5s linear 0s infinite;
	animation: z 5s linear 0s infinite;
}

.lanren ul li:nth-of-type(2) img {
	-webkit-animation: y 5s linear 0s infinite;
	-moz-animation: y 5s linear 0s infinite;
	-ms-animation: y 5s linear 0s infinite;
	animation: y 5s linear 0s infinite;
}

.lanren ul li:nth-of-type(3) img {
	-webkit-animation: z 5s linear 0s infinite;
	-moz-animation: z 5s linear 0s infinite;
	-ms-animation: z 5s linear 0s infinite;
	animation: z 5s linear 0s infinite;
}

@-webkit-keyframes z {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}

	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}

@-webkit-keyframes y {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}

	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}