<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.share.AppIdcDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.share.AppIdc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="loc_x" property="locX" jdbcType="VARCHAR" />
    <result column="loc_y" property="locY" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="time_zone" property="timeZone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, area_code, provider, loc_x, loc_y, enable, adress, time_zone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_idc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_idc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.share.AppIdc" >
    insert into app_idc (id, name, area_code, 
      provider, loc_x, loc_y, 
      enable, adress, time_zone
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{provider,jdbcType=VARCHAR}, #{locX,jdbcType=VARCHAR}, #{locY,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{adress,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.share.AppIdc" >
    insert into app_idc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="locX != null" >
        loc_x,
      </if>
      <if test="locY != null" >
        loc_y,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="timeZone != null" >
        time_zone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="locX != null" >
        #{locX,jdbcType=VARCHAR},
      </if>
      <if test="locY != null" >
        #{locY,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.share.AppIdc" >
    update app_idc
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="locX != null" >
        loc_x = #{locX,jdbcType=VARCHAR},
      </if>
      <if test="locY != null" >
        loc_y = #{locY,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        time_zone = #{timeZone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.share.AppIdc" >
    update app_idc
    set name = #{name,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      provider = #{provider,jdbcType=VARCHAR},
      loc_x = #{locX,jdbcType=VARCHAR},
      loc_y = #{locY,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      adress = #{adress,jdbcType=VARCHAR},
      time_zone = #{timeZone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>