<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.share.AppInstanceDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.share.AppInstance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
    <result column="version_id" property="versionId" jdbcType="INTEGER" />
    <result column="host_id" property="hostId" jdbcType="INTEGER" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="endpoint" property="endpoint" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ssh_user" property="sshUser" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="ssh_key" property="sshKey" jdbcType="LONGVARCHAR" />
    <result column="ssh_key_pub" property="sshKeyPub" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, cluster_id, version_id, host_id, env_type, enable, endpoint, remark, ssh_user, 
    create_by, create_date, update_by, update_date, del_flag,ssh_key, ssh_key_pub
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_instance
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByClusterId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from app_instance
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.share.AppInstance" >
    insert into app_instance (id, cluster_id, version_id, 
      host_id, env_type, enable, 
      endpoint, remark, ssh_user, 
      create_by, create_date, update_by, 
      update_date, del_flag, ssh_key, 
      ssh_key_pub)
    values (#{id,jdbcType=INTEGER}, #{clusterId,jdbcType=INTEGER}, #{versionId,jdbcType=INTEGER}, 
      #{hostId,jdbcType=INTEGER}, #{envType,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{endpoint,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sshUser,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, #{sshKey,jdbcType=LONGVARCHAR}, 
      #{sshKeyPub,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.share.AppInstance" >
    insert into app_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clusterId != null" >
        cluster_id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="endpoint != null" >
        endpoint,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sshUser != null" >
        ssh_user,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="sshKey != null" >
        ssh_key,
      </if>
      <if test="sshKeyPub != null" >
        ssh_key_pub,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clusterId != null" >
        #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="endpoint != null" >
        #{endpoint,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sshUser != null" >
        #{sshUser,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="sshKey != null" >
        #{sshKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="sshKeyPub != null" >
        #{sshKeyPub,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.share.AppInstance" >
    update app_instance
    <set >
      <if test="clusterId != null" >
        cluster_id = #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null" >
        version_id = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="endpoint != null" >
        endpoint = #{endpoint,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sshUser != null" >
        ssh_user = #{sshUser,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="sshKey != null" >
        ssh_key = #{sshKey,jdbcType=LONGVARCHAR},
      </if>
      <if test="sshKeyPub != null" >
        ssh_key_pub = #{sshKeyPub,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.share.AppInstance" >
    update app_instance
    set cluster_id = #{clusterId,jdbcType=INTEGER},
      version_id = #{versionId,jdbcType=INTEGER},
      host_id = #{hostId,jdbcType=INTEGER},
      env_type = #{envType,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      endpoint = #{endpoint,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      ssh_user = #{sshUser,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>