<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmConfigDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="collect_id" property="collectId" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="contact_group_id" property="contactGroupId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, collect_id, template_id, contact_group_id, enable, create_date, create_by, update_date, 
    update_by, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmConfig" >
    insert into umc_alarm_config (id, collect_id, template_id, 
      contact_group_id, enable, create_date, 
      create_by, update_date, update_by, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{collectId,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, 
      #{contactGroupId,jdbcType=INTEGER}, #{enable,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmConfig" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="collectId != null" >
        collect_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="contactGroupId != null" >
        contact_group_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="collectId != null" >
        #{collectId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="contactGroupId != null" >
        #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmConfig" >
    update umc_alarm_config
    <set >
      <if test="collectId != null" >
        collect_id = #{collectId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="contactGroupId != null" >
        contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmConfig" >
    update umc_alarm_config
    set collect_id = #{collectId,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=INTEGER},
      contact_group_id = #{contactGroupId,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where enable=1 and del_flag!=1
  </select>


  <select id="selectByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where template_id = #{templateId,jdbcType=INTEGER}
  </select>

  <select id="getByCollectIdAndTemplateId" resultMap="BaseResultMap" parameterType="java.util.Map">
  select * from umc_alarm_config uac
  left join umc_alarm_template uat on uat.id=uac.template_id
  left join umc_alarm_config_collect uacc on uacc.config_id=uac.id
  where uac.template_id=#{templateId,jdbcType=INTEGER} and uacc.collect_id=#{collectId,jdbcType=INTEGER}
</select>

  <select id="getByClusterIdAndTemplateId" resultMap="BaseResultMap" parameterType="java.util.Map">
  select * from umc_alarm_config uac
  left join umc_alarm_template uat on uat.id=uac.template_id
  where uac.template_id=#{templateId,jdbcType=INTEGER} and uac.cluster_id=#{appClusterId,jdbcType=INTEGER}
</select>


</mapper>