<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmTemplateDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="metric_id" property="metricId" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="notify_level" property="notifyLevel" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />

    <!-- other -->
    <result column="metric" property="metric" jdbcType="VARCHAR" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />

    <collection property="rules" javaType="list" ofType="com.wl4g.devops.common.bean.umc.AlarmRule">
      <id column="rid" property="id" jdbcType="INTEGER" />
      <result column="template_id" property="templateId" jdbcType="INTEGER" />
      <result column="aggregator" property="aggregator" jdbcType="VARCHAR" />
      <result column="relate_operator" property="relateOperator" jdbcType="INTEGER" />
      <result column="logical_operator" property="logicalOperator" jdbcType="INTEGER" />
      <result column="value" property="value" jdbcType="DOUBLE" />
      <result column="alarm_level" property="alarmLevel" jdbcType="INTEGER" />
      <result column="queue_time_window" property="queueTimeWindow" jdbcType="BIGINT" />

    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, metric_id,  tags, notify_level, enable, remark, create_date, create_by,
    update_date, update_by, del_flag
  </sql>

  <sql id="Base_Column_List_t" >
    t.id, t.name, t.metric_id, t.tags, t.notify_level,t.enable, t.remark, t.del_flag, t.create_date, t.create_by,
    t.update_date, t.update_by
  </sql>

  <sql id="Rule_Column_List" >
    r.id rid, r.template_id, r.aggregator, r.relate_operator,r.logical_operator,r.operator, r.value, r.alarm_level, r.queue_time_window
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List_t" />,mt.metric,mt.classify
    from umc_alarm_template t
    left join umc_metric_template mt on mt.id=t.metric_id
    where mt.del_flag!=1 and t.del_flag!=1 and t.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    insert into umc_alarm_template (id, name, metric_id,
      tags, notify_level,
      enable, remark, create_date, 
      create_by, update_date, update_by, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{metricId,jdbcType=INTEGER},
      #{tags,jdbcType=VARCHAR}, #{notifyLevel,jdbcType=INTEGER},
      #{enable,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="metricId != null" >
        metric_id,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="notifyLevel != null" >
        notify_level,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null" >
        #{metricId,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="notifyLevel != null" >
        #{notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    update umc_alarm_template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null" >
        metric_id = #{metricId,jdbcType=INTEGER},
      </if>

      tags = #{tags,jdbcType=VARCHAR},

      <if test="notifyLevel != null" >
        notify_level = #{notifyLevel,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmTemplate" >
    update umc_alarm_template
    set name = #{name,jdbcType=VARCHAR},
      metric_id = #{metricId,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      notify_level = #{notifyLevel,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getByCollectAddr" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List_t" />,mt.metric,mt.classify
    ,
    <include refid="Rule_Column_List" />
    from umc_alarm_template t
    left join umc_alarm_config uac on t.id=uac.template_id
    left join umc_metric_template mt on mt.id=t.metric_id
    left join erm_app_instance i on i.id=uac.collect_id
    LEFT JOIN umc_alarm_rule r on t.id=r.template_id
    where uac.enable=1 and t.enable=1 and t.del_flag!=1 and and uac.del_flag!=1
    <if test="collectAddr != null and collectAddr != 0 " >
      and  i.endpoint=#{collectAddr,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getByClusterId" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List_t" />,mt.metric,mt.classify
    ,
    <include refid="Rule_Column_List" />
    from umc_alarm_template t
    left join umc_alarm_config uac on t.id=uac.template_id
    left join umc_metric_template mt on mt.id=t.metric_id
    LEFT JOIN umc_alarm_rule r on t.id=r.template_id
    where uac.enable=1 and t.enable=1 and t.del_flag!=1
    and  uac.cluster_id=#{appClusterId,jdbcType=INTEGER}
  </select>

  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_t" />,mt.metric,mt.classify
    from umc_alarm_template t
    left join umc_metric_template mt on mt.id=t.metric_id
    where t.del_flag!=1
    <if test="name != null and name != ''" >
      AND t.name LIKE CONCAT('%','${name}','%')
    </if>
    <if test="metricId != null and metricId != ''" >
      AND t.metric_id  = #{metricId,jdbcType=INTEGER}
    </if>
    <if test="classify != null and classify != ''" >
      AND mt.classify=#{classify,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>