<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmRuleDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="aggregator" property="aggregator" jdbcType="VARCHAR" />
    <result column="relate_operator" property="relateOperator" jdbcType="INTEGER" />
    <result column="logical_operator" property="logicalOperator" jdbcType="INTEGER" />
    <result column="queue_time_window" property="queueTimeWindow" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="DOUBLE" />
    <result column="alarm_level" property="alarmLevel" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />

    <!-- other -->
    <result column="compare_value" property="compareValue" jdbcType="DOUBLE" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, template_id, aggregator, relate_operator, logical_operator, queue_time_window, 
    value, alarm_level,del_flag
  </sql>

  <sql id="Base_Column_List_r" >
    r.id, r.template_id, r.aggregator, r.relate_operator, r.logical_operator, r.queue_time_window,
    r.value, r.alarm_level,r.del_flag
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmRule" >
    insert into umc_alarm_rule (id, template_id, aggregator, 
      relate_operator, logical_operator, queue_time_window, 
      value, alarm_level,del_flag)
    values (#{id,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, #{aggregator,jdbcType=VARCHAR}, 
      #{relateOperator,jdbcType=INTEGER}, #{logicalOperator,jdbcType=INTEGER}, #{queueTimeWindow,jdbcType=BIGINT}, 
      #{value,jdbcType=DOUBLE}, #{alarmLevel,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRule" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="aggregator != null" >
        aggregator,
      </if>
      <if test="relateOperator != null" >
        relate_operator,
      </if>
      <if test="logicalOperator != null" >
        logical_operator,
      </if>
      <if test="queueTimeWindow != null" >
        queue_time_window,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="alarmLevel != null" >
        alarm_level,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="aggregator != null" >
        #{aggregator,jdbcType=VARCHAR},
      </if>
      <if test="relateOperator != null" >
        #{relateOperator,jdbcType=INTEGER},
      </if>
      <if test="logicalOperator != null" >
        #{logicalOperator,jdbcType=INTEGER},
      </if>
      <if test="queueTimeWindow != null" >
        #{queueTimeWindow,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="alarmLevel != null" >
        #{alarmLevel,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRule" >
    update umc_alarm_rule
    <set >
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="aggregator != null" >
        aggregator = #{aggregator,jdbcType=VARCHAR},
      </if>
      <if test="relateOperator != null" >
        relate_operator = #{relateOperator,jdbcType=INTEGER},
      </if>
      <if test="logicalOperator != null" >
        logical_operator = #{logicalOperator,jdbcType=INTEGER},
      </if>
      <if test="queueTimeWindow != null" >
        queue_time_window = #{queueTimeWindow,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=DOUBLE},
      </if>
      <if test="alarmLevel != null" >
        alarm_level = #{alarmLevel,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmRule" >
    update umc_alarm_rule
    set template_id = #{templateId,jdbcType=INTEGER},
      aggregator = #{aggregator,jdbcType=VARCHAR},
      relate_operator = #{relateOperator,jdbcType=INTEGER},
      logical_operator = #{logicalOperator,jdbcType=INTEGER},
      queue_time_window = #{queueTimeWindow,jdbcType=BIGINT},
      value = #{value,jdbcType=DOUBLE},
      alarm_level = #{alarmLevel,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from umc_alarm_rule
  </select>


  <select id="selectByRecordId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List_r" />,rr.compare_value
    from umc_alarm_record_rule rr
    left join umc_alarm_rule r on rr.rule_id=r.id
    where rr.record_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from umc_alarm_rule
    where template_id = #{id,jdbcType=INTEGER} and del_flag!=1
  </select>

  <delete id="deleteByTemplateId" parameterType="java.lang.Integer" >
    delete from umc_alarm_rule
    where template_id = #{id,jdbcType=INTEGER}
  </delete>


</mapper>