<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmRecordDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="config_id" property="configId" jdbcType="INTEGER" />
    <result column="gather_time" property="gatherTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="alarm_info" property="alarmInfo" jdbcType="VARCHAR" />
    <result column="alarm_type" property="alarmType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, config_id, gather_time, create_time, alarm_info, alarm_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecord" >
    insert into umc_alarm_record (id, name, config_id, 
      gather_time, create_time, alarm_info, 
      alarm_type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{configId,jdbcType=INTEGER}, 
      #{gatherTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{alarmInfo,jdbcType=VARCHAR}, 
      #{alarmType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecord" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="configId != null" >
        config_id,
      </if>
      <if test="gatherTime != null" >
        gather_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="alarmInfo != null" >
        alarm_info,
      </if>
      <if test="alarmType != null" >
        alarm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="configId != null" >
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="gatherTime != null" >
        #{gatherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmInfo != null" >
        #{alarmInfo,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        #{alarmType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecord" >
    update umc_alarm_record
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="configId != null" >
        config_id = #{configId,jdbcType=INTEGER},
      </if>
      <if test="gatherTime != null" >
        gather_time = #{gatherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmInfo != null" >
        alarm_info = #{alarmInfo,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        alarm_type = #{alarmType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecord" >
    update umc_alarm_record
    set name = #{name,jdbcType=VARCHAR},
      config_id = #{configId,jdbcType=INTEGER},
      gather_time = #{gatherTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      alarm_info = #{alarmInfo,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>