<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmRecordRuleDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.umc.AlarmRecordRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="compare_value" property="compareValue" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, record_id, rule_id,compare_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_record_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from umc_alarm_record_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecordRule" >
    insert into umc_alarm_record_rule (id, record_id, rule_id,compare_value
      )
    values (#{id,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER}, #{ruleId,jdbcType=INTEGER},#{compareValue,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecordRule" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_record_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="compareValue != null" >
        compare_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="compareValue != null" >
        #{compareValue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecordRule" >
    update umc_alarm_record_rule
    <set >
      <if test="recordId != null" >
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="compareValue != null" >
        compare_value = #{compareValue,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.umc.AlarmRecordRule" >
    update umc_alarm_record_rule
    set record_id = #{recordId,jdbcType=INTEGER},
      rule_id = #{ruleId,jdbcType=INTEGER},
      compare_value = #{compareValue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>