<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.scm.HistoryDao">
	<sql id="allHostoryColumn">
		a.id as "id",
		a.version_id as "versionid",
		a.namespace_id as "namespaceid",
		a.status as "status",
		a.remark as "remark",
		a.create_by as "createBy",
		a.create_date as "createDate",
		a.del_flag as "delFlag",
		a.update_date as "updateDate"
	</sql>
	<sql id="allDetailColumn">
		a.id as "id",
		a.release_id as "releaseId",
		a.of_id as "ofId",
		a.of_type as "ofType",
		a.label as "label",
		a.create_date as "createDate"
	</sql>
	<sql id="allVersion">
		a.id as "id",
		a.sign as "sign",
		a.sign_type as "signtype",
		a.tag as "tag",
		a.remark as "remark",
		a.create_by as "createBy",
		a.create_date as "createDate",
		a.del_flag as delFlag
	</sql>
	<sql id="allReleaseDetail">
		a.id as "id",
		a.release_id as "releaseId",
		a.instance_id as "instanceId",
		a.status as "status",
		a.description as "description",
		a.result as "result"
	</sql>
	<resultMap type="releaseHistory" id="queryHistory">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="version_id" property="versionid" jdbcType="INTEGER" />
		<!--<result column="namespace_id" property="namespaceid" jdbcType="INTEGER" />-->
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="INTEGER" />
		<!--<result column="update_date" property="updateDate" jdbcType="VARCHAR" />-->

		<collection property="releaseDetail" ofType="releaseDetail" >
			<result column="id" property="id" jdbcType="INTEGER" />
			<result column="release_id" property="release_id" jdbcType="INTEGER" />
			<result column="of_id" property="of_id" jdbcType="INTEGER" />
			<result column="of_type" property="of_type" jdbcType="INTEGER" />
			<result column="label" property="label" jdbcType="INTEGER" />
			<result column="create_date" property="createDate" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
    <resultMap id="queryVersion" type="configVersionList">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="sign_type" property="signtype" jdbcType="VARCHAR"/>
        <result column="tag" property="tag" jdbcType="INTEGER"/>
        <result column="name" property="groupName" jdbcType="VARCHAR"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="INTEGER"/>
        <result column="createDate" property="createDate" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="envRemark" property="envRemark" jdbcType="VARCHAR"/>
    </resultMap>
	<resultMap id="queryDetail" type="releaseDetail">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="release_id" property="release_id" jdbcType="INTEGER" />
		<result column="of_id" property="of_id" jdbcType="INTEGER" />
		<result column="of_type" property="of_type" jdbcType="INTEGER" />
		<result column="label" property="label" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="releaseHistory" useGeneratedKeys="true" keyProperty="id">
		insert into scm_release_history
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="versionid != null">
				version_id,
			</if>
			<!--<if test="namespaceid != null">-->
				<!--namespace_id,-->
			<!--</if>-->
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
		<!-- 	<if test="delFlag != null">
				del_flag,
			</if> -->
			<if test="type != null">
				type
			</if>
			<!--<if test="updateDate != null">-->
				<!--update_date-->
			<!--</if>-->
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id},
			</if>
			<if test="versionid != null">
				#{versionid},
			</if>
			<!--<if test="namespaceid != null">-->
				<!--#{namespaceid},-->
			<!--</if>-->
			<if test="status != null">
				#{status},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<!--  <if test="delFlag != null">
				#{delFlag}
			</if>-->
			<if test="type != null">
				#{type}
			</if>
			<!--<if test="updateDate != null">-->
				<!--#{updateDate}-->
			<!--</if>-->
		</trim>
	</insert>

	<update id="delete" parameterType="releaseHistory">
		update scm_release_history
		<set>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="delFlag != null and delFlag != ''">
				del_flag = #{DEL_FLAG_DELETE}
			</if>
		</set>
		where id = #{id}
	</update>

	<select id="select" parameterType="releaseHistory">
		select
			<include refid="allHostoryColumn"/>,
			<include refid="allDetailColumn"/>
		from
			scm_release_history a
		LEFT JOIN scm_release_detail g ON  a.id = g.release_id
		where
			a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="status!=null and status!=''">
			and a.status = #{status}
		</if>
		<if test="createDate!=null and createDate!=''">
			and a.create_date &gt;=#{createDate}
		</if>
		<if test="updateDate!=null and updateDate!=''">
			and a.create_date &lt;=#{updateDate}
		</if>
		<if test="of_id!=null and of_id!=''">
			and g.of_id = #{of_id}
		</if>
		<if test="of_type!=null and of_type!=''">
			and g.of_type = #{of_type}
		</if>
		ORDER BY a.create_date DESC
	</select>
	<!--回滚应用  scm_release_detail -->
	<insert id="insertDetail" parameterType="releaseDetail" useGeneratedKeys="true" keyProperty="id">
		insert into scm_release_detail (id,release_id,instance_id,result)
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null and id!=''">
				#{id},
			</if>
			<if test="releaseId!=null and releaseId!=''">
				#{releaseId},
			</if>
			<if test="instanceId!=null and instanceId!=''">
				#{instanceId},
			</if>
			<if test="result!=null and result!=''">
				#{result}
			</if>
		</trim>
	</insert>
	<update id="updateHistory" parameterType="releaseDetail">
		update scm_release_history
		<set>
			<if test="updateDate != null">
				update_date = #{createDate},
			</if>
		</set>
		where id = #{release_id}
	</update>
	<!--查询流水列表 -->
	<!--<select id="list" resultType="releaseDetailList">-->
		<!--select-->
		<!--(SELECT COUNT(0) from scm_release_detail) as instanceCount,-->
		<!--<include refid="allDetailColumn"/>-->
		<!--from-->
		<!--scm_release_detail a-->
	<!--</select>-->
	<!--查询历史版本列表 -->
	<select id="historylist" resultType="releaseHistoryList">
		select
		(SELECT COUNT(0) from scm_release_history b WHERE b.del_flag = #{DEL_FLAG_NORMAL} AND b.status = 1) as instanceCount,
		<include refid="allHostoryColumn"/>
		from
		scm_release_history a
		WHERE
			a.del_flag = #{DEL_FLAG_NORMAL}
		AND a.status = 1
	</select>
	<!--查询版本列表 -->
	<select id="versionList" parameterType="java.util.Map" resultType="versionList">
		select
			(SELECT COUNT(0) from scm_version b WHERE b.del_flag = 0) as instanceCount,
			<include refid="allVersion"/>
		from
			scm_version a
		WHERE
			a.del_flag = 0
		<if test="startDate!=null and startDate!='' and endDate!='' and endDate !=null">
				AND DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')
				AND DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')
			</if>
	</select>
    <!--查询轨迹列表信息 -->
	<select id="list" parameterType="configVersionList" resultMap="queryVersion">
		SELECT d.id as "instanceId",h.`hostname` host,d.id as nodeId ,d.`endpoint` as port,g.`name`,g.id as appClusterId,d.env_type as envType,b.type,b.id as "historyId",b.version_id as "id",b.create_date as "createDate",b.remark as "remark"
		FROM scm_release_history b
		JOIN scm_release_detail c ON b.id = c.release_id
		JOIN erm_app_instance d ON d.id = c.instance_id and d.del_flag = #{DEL_FLAG_NORMAL}
		left join app_host h on h.id = d.host_id
		JOIN app_cluster g ON d.cluster_id = g.id  and g.del_flag = #{DEL_FLAG_NORMAL}
		<where>
			b.del_flag = #{DEL_FLAG_NORMAL}
			<if test="appClusterId != null and appClusterId != ''">
				AND g.id = #{appClusterId}
			</if>

			<if test="instanceId != null and instanceId != ''">
				AND d.id = #{instanceId}
			</if>

			<if test="envType != null and envType != ''">
				AND d.env_type = #{envType}
			</if>
		</where>
		order by b.create_date desc
	</select>
	<update id="versionDelete" parameterType="version">
		update scm_version
		<set>
			del_flag = #{DEL_FLAG_DELETE}
		</set>
		where id = #{id}
	</update>
	<update id="versionUpdate" parameterType="version">
		update scm_version
		<set>
			<if test="tag != null">
				tag = #{tag}
			</if>
		</set>
		where id = #{id}
	</update>
	<!--查询版本列表 -->
	<select id="versionselect" parameterType="version" resultType="version">
		select
		<include refid="allVersion"/>
		from
		scm_version a
		WHERE
		<if test="id != null">
			id = #{id}
		</if>
	</select>
	<!--查询版本列表 -->
	<select id="reledetailselect" parameterType="releaseDetail" resultType="releaseDetail">
		select
		<include refid="allReleaseDetail"/>
		from
		scm_release_detail a
		WHERE
		<if test="releaseId != null">
			release_id = #{releaseId}
		</if>
		<if test="instanceId != null">
			AND instance_id = #{instanceId}
		</if>
	</select>
</mapper>