<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.umc.AlarmConfigDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.umc.AlarmConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="collect_id" property="collectId" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="contact_group_id" property="contactGroupId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <!-- other -->
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="contact_group_name" property="contactGroupName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.wl4g.components.core.bean.umc.AlarmConfig" >
    <id column="c.id" property="id" jdbcType="INTEGER" />
    <result column="c.collect_id" property="collectId" jdbcType="INTEGER" />
    <result column="c.template_id" property="templateId" jdbcType="INTEGER" />
    <result column="c.contact_group_id" property="contactGroupId" jdbcType="INTEGER" />
    <result column="c.enable" property="enable" jdbcType="INTEGER" />
    <result column="c.create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="c.create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="c.update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="c.update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="c.del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="c.callback_url" property="callbackUrl" jdbcType="VARCHAR" />

    <!-- template -->
    <association property="alarmTemplate" javaType="com.wl4g.components.core.bean.umc.AlarmTemplate">
      <id column="t.id" property="id" jdbcType="INTEGER" />
      <result column="t.name" property="name" jdbcType="VARCHAR" />
      <result column="t.metric_id" property="metricId" jdbcType="INTEGER" />
      <result column="t.tags" property="tags" jdbcType="VARCHAR" />
      <result column="t.notify_level" property="notifyLevel" jdbcType="INTEGER" />
      <result column="t.enable" property="enable" jdbcType="INTEGER" />
      <result column="t.remark" property="remark" jdbcType="VARCHAR" />
      <result column="t.create_date" property="createDate" jdbcType="TIMESTAMP" />
      <result column="t.create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="t.update_date" property="updateDate" jdbcType="TIMESTAMP" />
      <result column="t.update_by" property="updateBy" jdbcType="VARCHAR" />
      <result column="t.del_flag" property="delFlag" jdbcType="INTEGER" />

      <!-- other -->
      <result column="m.metric" property="metric" jdbcType="VARCHAR" />
      <result column="m.classify" property="classify" jdbcType="VARCHAR" />

      <collection property="rules" ofType="com.wl4g.components.core.bean.umc.AlarmRule" javaType="list">
        <id column="r.id" property="id" jdbcType="INTEGER" />
        <result column="r.template_id" property="templateId" jdbcType="INTEGER" />
        <result column="r.aggregator" property="aggregator" jdbcType="VARCHAR" />
        <result column="r.relate_operator" property="relateOperator" jdbcType="INTEGER" />
        <result column="r.logical_operator" property="logicalOperator" jdbcType="INTEGER" />
        <result column="r.queue_time_window" property="queueTimeWindow" jdbcType="BIGINT" />
        <result column="r.value" property="value" jdbcType="DOUBLE" />
        <result column="r.alarm_level" property="alarmLevel" jdbcType="INTEGER" />
        <result column="r.del_flag" property="delFlag" jdbcType="INTEGER" />
      </collection>

    </association>

    <!-- contacts -->
    <collection property="contacts" ofType="com.wl4g.components.core.bean.iam.Contact" javaType="list">
      <id column="ct.id" property="id" jdbcType="INTEGER" />
      <result column="ct.name" property="name" jdbcType="VARCHAR" />
      <result column="ct.email" property="email" jdbcType="VARCHAR" />
      <result column="ct.phone" property="phone" jdbcType="VARCHAR" />
      <result column="ct.dingtalk" property="dingtalk" jdbcType="VARCHAR" />
      <result column="ct.wechat" property="wechat" jdbcType="VARCHAR" />
      <result column="ct.twitter" property="twitter" jdbcType="VARCHAR" />
      <result column="ct.facebook" property="facebook" jdbcType="VARCHAR" />
      <result column="ct.email_enable" property="emailEnable" jdbcType="INTEGER" />
      <result column="ct.phone_enable" property="phoneEnable" jdbcType="INTEGER" />
      <result column="ct.dingtalk_enable" property="dingtalkEnable" jdbcType="INTEGER" />
      <result column="ct.wechat_enable" property="wechatEnable" jdbcType="INTEGER" />
      <result column="ct.twitter_enable" property="twitterEnable" jdbcType="INTEGER" />
      <result column="ct.facebook_enable" property="facebookEnable" jdbcType="INTEGER" />
      <result column="ct.phone_time_of_freq" property="phoneTimeOfFreq" jdbcType="INTEGER" />
      <result column="ct.dingtalk_time_of_freq" property="dingtalkTimeOfFreq" jdbcType="INTEGER" />
      <result column="ct.wechat_time_of_freq" property="wechatTimeOfFreq" jdbcType="INTEGER" />
      <result column="ct.twitter_time_of_freq" property="twitterTimeOfFreq" jdbcType="INTEGER" />
      <result column="ct.facebook_time_of_freq" property="facebookTimeOfFreq" jdbcType="INTEGER" />
      <result column="ct.phone_num_of_freq" property="phoneNumOfFreq" jdbcType="INTEGER" />
      <result column="ct.dingtalk_num_of_freq" property="dingtalkNumOfFreq" jdbcType="INTEGER" />
      <result column="ct.wechat_num_of_freq" property="wechatNumOfFreq" jdbcType="INTEGER" />
      <result column="ct.twitter_num_of_freq" property="twitterNumOfFreq" jdbcType="INTEGER" />
      <result column="ct.facebook_num_of_freq" property="facebookNumOfFreq" jdbcType="INTEGER" />
      <result column="ct.create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="ct.create_date" property="createDate" jdbcType="TIMESTAMP" />
      <result column="ct.update_by" property="updateBy" jdbcType="VARCHAR" />
      <result column="ct.update_date" property="updateDate" jdbcType="TIMESTAMP" />
      <result column="ct.del_flag" property="delFlag" jdbcType="INTEGER" />
    </collection>

  </resultMap>

  <sql id="Base_Column_List" >
    id, collect_id, template_id, contact_group_id, enable, create_date, create_by, update_date, 
    update_by, del_flag,callback_url
  </sql>
  <sql id="Base_Column_List_c" >
    c.id, c.collect_id, c.template_id, c.contact_group_id, c.enable, c.create_date, c.create_by, c.update_date,
    c.update_by, c.del_flag,c.callback_url
  </sql>

  <sql id="config_alias" >
    c.id as "c.id", c.collect_id as "c.collect_id", c.template_id as "c.template_id", c.contact_group_id as "c.contact_group_id",
    c.enable as "c.enable", c.create_date as "c.create_date", c.create_by as "c.create_by", c.update_date as "c.update_date",
    c.update_by as "c.update_by", c.del_flag as "c.del_flag",c.callback_url as "c.callback_url"
  </sql>

  <sql id="template_alias" >
    t.id as "t.id", t.name as "t.name", t.metric_id as "t.metric_id", t.tags as "t.tags", t.notify_level as "t.notify_level",t.enable as "t.enable", t.remark as "t.remark", t.del_flag as "t.del_flag", t.create_date as "t.create_date", t.create_by as "t.create_by",
    t.update_date as "t.update_date", t.update_by as "t.update_by"
  </sql>

  <sql id="contact_alias" >
    ct.id as "ct.id", ct.name as "ct.name", ct.email as "ct.email", ct.phone as "ct.phone", ct.dingtalk as "ct.dingtalk", ct.wechat as "ct.wechat", ct.twitter as "ct.twitter",
    ct.facebook as "ct.facebook", ct.email_enable as "ct.email_enable", ct.phone_enable as "ct.phone_enable",
    ct.dingtalk_enable as "ct.dingtalk_enable", ct.wechat_enable as "ct.wechat_enable", ct.twitter_enable as "ct.twitter_enable", ct.facebook_enable as "ct.facebook_enable", ct.phone_time_of_freq as "ct.phone_time_of_freq",
    ct.dingtalk_time_of_freq as "ct.dingtalk_time_of_freq", ct.wechat_time_of_freq as "ct.wechat_time_of_freq", ct.twitter_time_of_freq as "ct.twitter_time_of_freq", ct.facebook_time_of_freq as "ct.facebook_time_of_freq",
    ct.phone_num_of_freq as "ct.phone_num_of_freq", ct.dingtalk_num_of_freq as "ct.dingtalk_num_of_freq", ct.wechat_num_of_freq as "ct.wechat_num_of_freq", ct.twitter_num_of_freq as "ct.twitter_num_of_freq",
    ct.facebook_num_of_freq as "ct.facebook_num_of_freq", ct.create_by as "ct.create_by", ct.create_date as "ct.create_date", ct.update_by as "ct.update_by", ct.update_date as "ct.update_date", ct.del_flag as "ct.del_flag"
  </sql>

  <sql id="rules_alias" >
    r.id as "r.id", r.template_id as "r.template_id", r.aggregator as "r.aggregator", r.relate_operator as "r.relate_operator", r.logical_operator as "r.logical_operator", r.queue_time_window as "r.queue_time_window",
    r.value as "r.value", r.alarm_level as "r.alarm_level",r.del_flag as "r.del_flag"
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where del_flag!=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from umc_alarm_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.umc.AlarmConfig" >
    insert into umc_alarm_config (id, collect_id, template_id, 
      contact_group_id, enable, create_date, 
      create_by, update_date, update_by, 
      del_flag,callback_url)
    values (#{id,jdbcType=BIGINT}, #{collectId,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, 
      #{contactGroupId,jdbcType=BIGINT}, #{enable,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER}, #{callbackUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.umc.AlarmConfig" useGeneratedKeys="true" keyProperty="id">
    insert into umc_alarm_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="collectId != null" >
        collect_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="contactGroupId != null" >
        contact_group_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="callbackUrl != null" >
        callback_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="collectId != null" >
        #{collectId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="contactGroupId != null" >
        #{contactGroupId,jdbcType=BIGINT},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="callbackUrl != null" >
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.umc.AlarmConfig" >
    update umc_alarm_config
    <set >
      <if test="collectId != null" >
        collect_id = #{collectId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="contactGroupId != null" >
        contact_group_id = #{contactGroupId,jdbcType=BIGINT},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="callbackUrl != null" >
        callback_url = #{callbackUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.umc.AlarmConfig" >
    update umc_alarm_config
    set collect_id = #{collectId,jdbcType=BIGINT},
      template_id = #{templateId,jdbcType=BIGINT},
      contact_group_id = #{contactGroupId,jdbcType=BIGINT},
      enable = #{enable,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      callback_url = #{callbackUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where enable=1 and del_flag!=1
  </select>


  <select id="selectByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from umc_alarm_config
    where del_flag!=1 and template_id = #{templateId,jdbcType=BIGINT}
  </select>

  <select id="getByCollectAddrAndTemplateId" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from umc_alarm_config c
    left join umc_alarm_template t on t.id=c.template_id
    left join umc_alarm_config_collect cc on cc.config_id=c.id
    left join erm_app_instance i on i.id=cc.collect_id
    where c.template_id=#{templateId,jdbcType=BIGINT} and i.endpoint=#{collectAddr,jdbcType=VARCHAR} and c.del_flag!=1 and t.del_flag!=1
</select>

  <select id="getByClusterIdAndTemplateId" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from umc_alarm_config c
    left join umc_alarm_template t on t.id=c.template_id
    where c.del_flag!=1 and t.del_flag!=1 and c.template_id=#{templateId,jdbcType=BIGINT} and c.cluster_id=#{appClusterId,jdbcType=BIGINT}
</select>


  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List_c"/>,t.name template_name,cg.name contact_group_name
    from umc_alarm_config c
    left join umc_alarm_template t on t.id=c.template_id
    left join sys_contact_group cg on c.contact_group_id=cg.id
    where c.del_flag!=1
    <if test="templateId != null" >
      and c.template_id=#{templateId,jdbcType=BIGINT}
    </if>
    <if test="contactGroupId != null" >
      and c.contact_group_id=#{contactGroupId,jdbcType=BIGINT}
    </if>
  </select>


  <select id="getAlarmConfigTpls" resultMap="BaseResultMap2" parameterType="java.util.Map">
    select
    <include refid="config_alias"/>,<include refid="template_alias"/>,
    <include refid="contact_alias"/>,<include refid="rules_alias"/>,m.metric as "m.metric",m.classify as "m.classify"
    from umc_alarm_config c
    left join umc_alarm_template t on c.template_id = t.id
    left join umc_metric_template m on m.id=t.metric_id
    left join umc_alarm_rule r on t.id = r.template_id
    left join sys_contact_group_ref gr on gr.contact_group_id = c.contact_group_id
    left join sys_contact ct on gr.contact_id = ct.id
    left join erm_app_instance i on c.collect_id = i.id
    left join app_host h on i.host_id=h.id where i.endpoint = #{endpoint,jdbcType=VARCHAR} and h.hostname = #{host,jdbcType=VARCHAR} and t.del_flag!=1 and c.del_flag!=1 and r.del_flag!=1
  </select>




</mapper>