<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.iam.ContactDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.iam.Contact" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />

    <collection property="contactChannels" javaType="list" ofType="com.wl4g.components.core.bean.iam.ContactChannel">
      <id column="chid" jdbcType="INTEGER" property="id" />
      <result column="kind" jdbcType="VARCHAR" property="kind" />
      <result column="contact_id" jdbcType="INTEGER" property="contactId" />
      <result column="primary_address" jdbcType="VARCHAR" property="primaryAddress" />
      <result column="time_of_freq" jdbcType="INTEGER" property="timeOfFreq" />
      <result column="num_of_freq" jdbcType="INTEGER" property="numOfFreq" />
      <result column="enable" jdbcType="INTEGER" property="enable" />
    </collection>



  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, create_by, create_date, update_by, update_date, del_flag
  </sql>

  <sql id="Base_Column_List_c" >
    c.id, c.name, c.create_by, c.create_date, c.update_by, c.update_date, c.del_flag
  </sql>

  <sql id="Contact_Channel_Column_List">
    ch.id as chid, ch.kind, ch.contact_id, ch.primary_address, ch.time_of_freq, ch.num_of_freq, ch.enable
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List_c" />,<include refid="Contact_Channel_Column_List" />
    from sys_contact c left join sys_contact_channel ch on ch.contact_id = c.id
    where c.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.iam.Contact" >
    insert into sys_contact (id, `name`,
      create_by, create_date, update_by, 
      update_date, del_flag)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.iam.Contact" useGeneratedKeys="true" keyProperty="id">
    insert into sys_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.iam.Contact" >
    update sys_contact
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.iam.Contact" >
    update sys_contact
    set name = #{name,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_c" />
    from sys_contact c
    where c.del_flag!=1
    <if test="name != null and name != ''" >
      AND c.name LIKE CONCAT('%','${name}','%')
    </if>
  </select>

  <select id="getContactByGroupIds" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List_c" />,<include refid="Contact_Channel_Column_List" />
    from sys_contact c
    left join sys_contact_channel ch on ch.contact_id = c.id
    where exists(select 1 from sys_contact_group_ref gr
    where gr.contact_group_id IN <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">#{item}</foreach>
    and gr.contact_id=c.id)
    and c.del_flag!=1
  </select>


</mapper>