<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.umc.CustomEngineDao">
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.umc.CustomEngine">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="datasource_id" jdbcType="INTEGER" property="datasourceId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="notify_group_ids" jdbcType="VARCHAR" property="notifyGroupIds" />
    <result column="notify_template" jdbcType="VARCHAR" property="notifyTemplate" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="code_content" jdbcType="VARCHAR" property="codeContent" />
    <result column="arguments" jdbcType="VARCHAR" property="arguments" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />

    <!--other-->
    <result column="data_source_name" jdbcType="VARCHAR" property="dataSourceName" />

  </resultMap>
  <sql id="Base_Column_List">
    id, name, datasource_id, status, notify_group_ids, notify_template, cron, code_content, 
    arguments, remark, create_date, create_by, update_date, update_by, del_flag
  </sql>
  <sql id="Base_Column_List_e">
    e.id, e.name, e.datasource_id, e.status, e.notify_group_ids, e.notify_template, e.cron, e.code_content,
    e.arguments, e.remark, e.create_date, e.create_by, e.update_date, e.update_by, e.del_flag
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from umc_custom_engine
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_e" />,d.name data_source_name
    from umc_custom_engine e
    left join umc_custom_datasource d on d.id=e.datasource_id
    where e.del_flag!=1 and d.del_flag!=1
    <if test="name != null and name != ''" >
      AND e.name LIKE CONCAT('%','${name}','%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from umc_custom_engine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.umc.CustomEngine">
    insert into umc_custom_engine (id, name, datasource_id, 
      status, notify_group_ids, notify_template, 
      cron, code_content, arguments, 
      remark, create_date, create_by, 
      update_date, update_by, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{datasourceId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{notifyGroupIds,jdbcType=VARCHAR}, #{notifyTemplate,jdbcType=VARCHAR}, 
      #{cron,jdbcType=VARCHAR}, #{codeContent,jdbcType=VARCHAR}, #{arguments,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.umc.CustomEngine">
    insert into umc_custom_engine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="notifyGroupIds != null">
        notify_group_ids,
      </if>
      <if test="notifyTemplate != null">
        notify_template,
      </if>
      <if test="cron != null">
        cron,
      </if>
      <if test="codeContent != null">
        code_content,
      </if>
      <if test="arguments != null">
        arguments,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyGroupIds != null">
        #{notifyGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="notifyTemplate != null">
        #{notifyTemplate,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="codeContent != null">
        #{codeContent,jdbcType=VARCHAR},
      </if>
      <if test="arguments != null">
        #{arguments,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.umc.CustomEngine">
    update umc_custom_engine
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyGroupIds != null">
        notify_group_ids = #{notifyGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="notifyTemplate != null">
        notify_template = #{notifyTemplate,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="codeContent != null">
        code_content = #{codeContent,jdbcType=VARCHAR},
      </if>
      <if test="arguments != null">
        arguments = #{arguments,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.umc.CustomEngine">
    update umc_custom_engine
    set name = #{name,jdbcType=VARCHAR},
      datasource_id = #{datasourceId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      notify_group_ids = #{notifyGroupIds,jdbcType=VARCHAR},
      notify_template = #{notifyTemplate,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR},
      code_content = #{codeContent,jdbcType=VARCHAR},
      arguments = #{arguments,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>