<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.umc.CustomDataSourcePropertiesDao">
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.umc.CustomDataSourceProperties">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="data_source_id" jdbcType="INTEGER" property="dataSourceId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, data_source_id, key, value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from umc_custom_datasource_properties
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from umc_custom_datasource_properties
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByDataSourceId" parameterType="java.lang.Long">
    delete from umc_custom_datasource_properties
    where data_source_id = #{dataSourceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.umc.CustomDataSourceProperties">
    insert into umc_custom_datasource_properties (id, data_source_id, key, 
      value)
    values (#{id,jdbcType=BIGINT}, #{dataSourceId,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="java.util.Map">
    insert into umc_custom_datasource_properties (id, data_source_id, `key`,`value`)
    VALUES
    <foreach collection="properties" item="propertie" separator=",">
      (#{propertie.id,jdbcType=BIGINT}, #{propertie.dataSourceId,jdbcType=BIGINT},
      #{propertie.key,jdbcType=VARCHAR}, #{propertie.value,jdbcType=VARCHAR})
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.umc.CustomDataSourceProperties">
    insert into umc_custom_datasource_properties
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataSourceId != null">
        data_source_id,
      </if>
      <if test="key != null">
        key,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataSourceId != null">
        #{dataSourceId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.umc.CustomDataSourceProperties">
    update umc_custom_datasource_properties
    <set>
      <if test="dataSourceId != null">
        data_source_id = #{dataSourceId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.umc.CustomDataSourceProperties">
    update umc_custom_datasource_properties
    set data_source_id = #{dataSourceId,jdbcType=BIGINT},
      key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>