<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.umc.CustomHistoryDao">
  <resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.umc.CustomHistory">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="custom_engine_id" jdbcType="INTEGER" property="customEngineId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="cost_time" jdbcType="BIGINT" property="costTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />

    <!--other-->
    <result column="engine_name" jdbcType="VARCHAR" property="engineName" />

  </resultMap>
  <sql id="Base_Column_List">
    id, custom_engine_id, start_time, end_time,cost_time, state, create_by
  </sql>

  <sql id="Base_Column_List_h">
    h.id, h.custom_engine_id, h.start_time, h.end_time,h.cost_time, h.state, h.create_by
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from umc_custom_history
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_h" />,en.name engine_name
    from umc_custom_history h
    left join umc_custom_engine en on en.id=h.custom_engine_id
    where en.del_flag!=1
    <if test="name != null and name != ''" >
      AND en.name LIKE CONCAT('%','${name}','%')
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from umc_custom_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wl4g.components.core.bean.umc.CustomHistory">
    insert into umc_custom_history (id, custom_engine_id, start_time, 
      end_time,cost_time, state, create_by
      )
    values (#{id,jdbcType=BIGINT}, #{customEngineId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP},#{costTime,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.components.core.bean.umc.CustomHistory">
    insert into umc_custom_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customEngineId != null">
        custom_engine_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="costTime != null">
        cost_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customEngineId != null">
        #{customEngineId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        #{costTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.umc.CustomHistory">
    update umc_custom_history
    <set>
      <if test="customEngineId != null">
        custom_engine_id = #{customEngineId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costTime != null">
        cost_time = #{costTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.umc.CustomHistory">
    update umc_custom_history
    set custom_engine_id = #{customEngineId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      cost_time = #{costTime,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>