<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.dao.doc.FileChangesDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.doc.FileChanges">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="doc_code" jdbcType="VARCHAR" property="docCode" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="action" jdbcType="VARCHAR" property="action" />
		<result column="lang" jdbcType="VARCHAR" property="lang" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="sha" jdbcType="VARCHAR" property="sha" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="is_latest" jdbcType="INTEGER" property="isLatest" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_by_str" jdbcType="VARCHAR" property="createByStr" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="del_flag" jdbcType="INTEGER" property="delFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, doc_code, type, action, lang, content, sha, description, is_latest, create_date,
		create_by, update_date,
		update_by, del_flag
	</sql>
	<sql id="Base_Column_List_fc">
		fc.id, fc.name, fc.doc_code, fc.type, fc.action, fc.lang, fc.content, fc.sha, fc.description, fc.is_latest,
		fc.create_date,
		fc.create_by, fc.update_date, fc.update_by, fc.del_flag
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from doc_file_changes
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByDocCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,(select user_name from sys_user where id=fc.create_by) create_by_str
		from doc_file_changes fc
		where fc.del_flag!=1 and
		fc.doc_code = #{docCode,jdbcType=INTEGER}
		order by fc.update_date desc
	</select>

	<select id="selectLastByDocCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from doc_file_changes
		where del_flag!=1 and is_latest=1 and doc_code = #{docCode,jdbcType=INTEGER}
		limit 1
	</select>

	<select id="list" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List_fc" />
		from doc_file_changes fc
		where fc.del_flag!=1 and fc.is_latest=1
		<if test="name != null and name != ''">
			AND fc.name LIKE CONCAT('%','${name}','%')
		</if>
		<if test="lang != null and lang != ''">
			AND fc.lang = #{lang,jdbcType=VARCHAR}
		</if>
		<if test="labelId != null and labelId != ''">
			AND EXISTS (select 1 from doc_file_label fl where fc.id=fl.file_id and fl.label_id=#{labelId,jdbcType=BIGINT})
		</if>
		order by fc.update_date desc
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from doc_file_changes
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.doc.FileChanges">
		insert into doc_file_changes (id, name, doc_code,
		type, action, lang,
		content, sha,
		description,
		is_latest, create_date, create_by,
		update_date, update_by, del_flag
		)
		values (#{id,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{docCode,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR},
		#{lang,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{sha,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{isLatest,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.doc.FileChanges" useGeneratedKeys="true"
		keyProperty="id">
		insert into doc_file_changes
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="docCode != null">
				doc_code,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="action != null">
				action,
			</if>
			<if test="lang != null">
				lang,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="sha != null">
				sha,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="isLatest != null">
				is_latest,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="docCode != null">
				#{docCode,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="action != null">
				#{action,jdbcType=VARCHAR},
			</if>
			<if test="lang != null">
				#{lang,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="sha != null">
				#{sha,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="isLatest != null">
				#{isLatest,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.doc.FileChanges">
		update doc_file_changes
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="docCode != null">
				doc_code = #{docCode,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="action != null">
				action = #{action,jdbcType=VARCHAR},
			</if>
			<if test="lang != null">
				lang = #{lang,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="sha != null">
				sha = #{sha,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="isLatest != null">
				is_latest = #{isLatest,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.doc.FileChanges">
		update doc_file_changes
		set name = #{name,jdbcType=VARCHAR},
		doc_code =
		#{docCode,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		action = #{action,jdbcType=VARCHAR},
		lang = #{lang,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		sha = #{sha,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		is_latest =
		#{isLatest,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateIsLatest" parameterType="java.lang.String">
		update doc_file_changes
		set is_latest = 0
		where doc_code =
		#{docCode,jdbcType=VARCHAR}
	</update>

</mapper>