<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.devops.uci.data.PipeStageNotificationDao">
	<resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.uci.PipeStageNotification">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
		<result column="enable" jdbcType="INTEGER" property="enable" />
		<result column="contact_group_ids" jdbcType="VARCHAR" property="contactGroupIds" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pipe_id, enable, contact_group_ids
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from uci_pipe_step_notification
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByPipeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from uci_pipe_step_notification
		where pipe_id = #{pipeId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from uci_pipe_step_notification
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<delete id="deleteByPipeId" parameterType="java.lang.Long">
		delete from uci_pipe_step_notification
		where pipe_id = #{pipeId,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.wl4g.devops.common.bean.uci.PipeStageNotification">
		insert into uci_pipe_step_notification (id, pipe_id, enable,
		contact_group_ids)
		values (#{id,jdbcType=BIGINT}, #{pipeId,jdbcType=BIGINT}, #{enable,jdbcType=INTEGER},
		#{contactGroupIds,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.uci.PipeStageNotification">
		insert into uci_pipe_step_notification
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pipeId != null">
				pipe_id,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="contactGroupIds != null">
				contact_group_ids,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="pipeId != null">
				#{pipeId,jdbcType=BIGINT},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=INTEGER},
			</if>
			<if test="contactGroupIds != null">
				#{contactGroupIds,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.uci.PipeStageNotification">
		update uci_pipe_step_notification
		<set>
			<if test="pipeId != null">
				pipe_id = #{pipeId,jdbcType=BIGINT},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=INTEGER},
			</if>
			<if test="contactGroupIds != null">
				contact_group_ids = #{contactGroupIds,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.uci.PipeStageNotification">
		update uci_pipe_step_notification
		set pipe_id = #{pipeId,jdbcType=BIGINT},
		enable = #{enable,jdbcType=INTEGER},
		contact_group_ids = #{contactGroupIds,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>