<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 当返回数据类型为map，设置callSettersOnNulls会把值为null的key也返回 -->
		<setting name="callSettersOnNulls" value="true" />
	</settings>
</configuration>