<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>SBA Monitor Details</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">Basic information</div>
		<div class="panel-body">
			<ul class="list-group">
			    <li class="list-group-item">Application Info： ${info.appInfo}</li>
			    <li class="list-group-item">Health URL： ${info.healthUrl}</li>
			    <li class="list-group-item">From Status： ${info.fromStatus}</li>
			    <li class="list-group-item">To Status： ${info.toStatus}</li>
			    <li class="list-group-item">To Users： ${info.formatTos}</li>
			    <li class="list-group-item">Event Time： ${info.formatTimestamp}</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Details information</div>
		<div class="panel-body">${info.toHtmlString()}</div>
	</div>
</body>
</html>