<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl4g.paas.uci.data.PipeStageInstanceCommandDao">
	<resultMap id="BaseResultMap" type="com.wl4g.paas.common.bean.uci.PipeStageInstanceCommand">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
		<result column="enable" jdbcType="INTEGER" property="enable" />
		<result column="pre_command" jdbcType="VARCHAR" property="preCommand" />
		<result column="post_command" jdbcType="VARCHAR" property="postCommand" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pipe_id, enable, pre_command, post_command
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from uci_pipe_step_deploy_instance_command
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByPipeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from uci_pipe_step_deploy_instance_command
		where pipe_id = #{pipeId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from uci_pipe_step_deploy_instance_command
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPipeId" parameterType="java.lang.Long">
		delete from uci_pipe_step_deploy_instance_command
		where pipe_id = #{pipeId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.paas.common.bean.uci.PipeStageInstanceCommand">
		insert into uci_pipe_step_deploy_instance_command (id, enable, pipe_id, pre_command,
		post_command)
		values (#{id,jdbcType=BIGINT},#{enable,jdbcType=INTEGER}, #{pipeId,jdbcType=BIGINT}, #{preCommand,jdbcType=VARCHAR},
		#{postCommand,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.paas.common.bean.uci.PipeStageInstanceCommand">
		insert into uci_pipe_step_deploy_instance_command
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="pipeId != null">
				pipe_id,
			</if>
			<if test="preCommand != null">
				pre_command,
			</if>
			<if test="postCommand != null">
				post_command,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=INTEGER},
			</if>
			<if test="pipeId != null">
				#{pipeId,jdbcType=BIGINT},
			</if>
			<if test="preCommand != null">
				#{preCommand,jdbcType=VARCHAR},
			</if>
			<if test="postCommand != null">
				#{postCommand,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.paas.common.bean.uci.PipeStageInstanceCommand">
		update uci_pipe_step_deploy_instance_command
		<set>
			<if test="enable != null">
				enable = #{enable,jdbcType=INTEGER},
			</if>
			<if test="pipeId != null">
				pipe_id = #{pipeId,jdbcType=BIGINT},
			</if>
			<if test="preCommand != null">
				pre_command = #{preCommand,jdbcType=VARCHAR},
			</if>
			<if test="postCommand != null">
				post_command = #{postCommand,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.paas.common.bean.uci.PipeStageInstanceCommand">
		update uci_pipe_step_deploy_instance_command
		set pipe_id = #{pipeId,jdbcType=BIGINT},
		enable = #{enable,jdbcType=INTEGER},
		pre_command = #{preCommand,jdbcType=VARCHAR},
		post_command = #{postCommand,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>