<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.gw.GWRouteFilterDao" >
  <resultMap id="BaseResultMap" type="com.wl4g.devops.common.bean.gw.GWRouteFilter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="route_id" property="routeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="args" property="args" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, route_id, name, args
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gw_route_filter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gw_route_filter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl4g.devops.common.bean.gw.GWRouteFilter" >
    insert into gw_route_filter (id, route_id, name, 
      args)
    values (#{id,jdbcType=INTEGER}, #{routeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{args,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl4g.devops.common.bean.gw.GWRouteFilter" >
    insert into gw_route_filter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="routeId != null" >
        route_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="args != null" >
        args,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="args != null" >
        #{args,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl4g.devops.common.bean.gw.GWRouteFilter" >
    update gw_route_filter
    <set >
      <if test="routeId != null" >
        route_id = #{routeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="args != null" >
        args = #{args,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl4g.devops.common.bean.gw.GWRouteFilter" >
    update gw_route_filter
    set route_id = #{routeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      args = #{args,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>